.option-select {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 90%;
	height: 90%;
	z-index: 1100;
	display: none;
	background-color: white;
	transform: translate(5%, 5%);
	overflow-y: scroll;
}

.option-select-inner {
	margin: 0 auto;
	width: 80%;
	padding: 10px;

	li {
		a {
			white-space: normal !important;
			height: auto;
			display: inline-block;
		}
	}
}

.option-select-list {
	font-size: 20px;
}

#option-select-close {
	margin: 0 auto;
	display: block;

	&:hover {
		background-color: white;
		color: red;
		font-size: 1.4em;
		font-weight: bold;
	}
}

.mobile-divider {
	display: none;
}

@media only screen and (max-device-width: 550px) {
	.mobile-divider {
		display: block;
	}
}
