<template name="welcomeModal">
	<div class="modal" id="welcomeModal">
		<div class="modal-content">
			<a href="#!" id="welcomeModalClose" class="modal-action modal-close waves-effect waves-red btn-flat" data-bind="click:clearForm">x</a>
			<div class="row">
					<ul id="welcome-sequence">
						<li class="sequence-field" value="0">
							<div class="abs-center">
								<h2 class="txt-center">Welcome</h2>
								<div class="row center-align">
									<button class="btn btn-primary" id="welcome-start">Start &gt;</button>
								</div>
							</div>
						</li>
						<li class="sequence-field" value="1">
							<div>
								<h4 class="txt-center">1. Your City</h4>
							</div>
						</li>
						<li class="sequence-field" value="2">
							ASDFASDFDS
						</li>
					</ul>
					<div id="welcome-sequence-buttons">
						<button type="button" class="btn btn-primary" id="welcome-btn-back">BACK</button>
						<button type="button" class="btn btn-primary" id="welcome-btn-next">NEXT</button>
						<button type="button" class="btn btn-primary" id="explore-btn">EXPLORE</button>
					</div>
				</div>
			</div>
		</div>
</template>
