<template name="welcomeModal">
	<div class="modal" id="welcomeModal">
		<div class="modal-content">
			<a href="#!" id="welcomeModalClose" class="modal-action modal-close waves-effect waves-red btn-flat">x</a>
			<div class="row">
				<div id="search-start-location-container" class="row welcome-row">
					<div class="center-align welcome-title">
						<h5 class="txt-center">{{_ "welcomeModal.text.0.0"}} <strong>{{_ "welcomeModal.text.0.1"}}</strong></h5>
						<div class="welcome-input-container">
							<input type="text" class="input typeahead" data-source="geocodeDataSource" data-min-length="3" data-autoselect="true" data-highlight="true" data-select="selectedHandler" name="welcome-location"/>
						</div>
					</div>
				</div>
				<div class="row welcome-row">
					<div class="center-align">
						<button class="btn btn-welcome" type="button" id="welcome-create">{{_ "welcomeModal.btns.0"}}</button>
					</div>
				</div>
				<div class="row welcome-row">
					<div class="center-align">
						<button class="btn btn-primary btn-welcome" type="button" id="welcome-discover">{{_ "welcomeModal.btns.1"}}</button>
					</div>
				</div>
				<div id="welcome-sequence-buttons">
					<button type="button" class="btn btn-primary btn-welcome" id="explore-btn">{{_ "welcomeModal.btns.2"}}</button>
				</div>
			</div>
		</div>
	</div>
</template>
