.third-section {
  background: #FFF9EB;
  
  .text-content {
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
    p {
      margin-bottom: 10px;
    }
    
    .cta-wrapper {
      margin-top: 20px;
      
      p {
        font-weight: 500;
      }
      
      .btn {
        margin-top: 8px;
        padding: 10px 24px;
        font-weight: 500;
      }
    }
  }
  
  .attachment-content {
    margin-top: 30px;
    
    iframe {
      width: 100%;
      min-height: 300px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .text-content {
      max-width: 100%;
    }
  }
} 