/** LOGIN BUTTONS */
.login-close-text {
	color: #222222 !important;
}

.search-events {
	color: #646464;
}

/* markers */
.leaflet-result-marker {
	border-radius: 50%;
	border: none;
	opacity: .8;
	background: #0dda00;
}
.leaflet-animated-div-icon {
	border-radius: 50%;
	border: none;
	opacity: .2;
	background: black;
}
.leaflet-div-icon {
	border-radius: 50%;
	border: none;
	line-height: 30px;
	font-family: FontAwesome, sans-serif;
	text-align: center;
	color: white;
	opacity: .8;
	vertical-align:middle;
}

/* selected marker */
.leaflet-animated-icon {
	border-radius: 50%;
	border: none;
	opacity: .5;
	background: #da0c0b;
}