.welcome-input-container {
	margin-top: 10px;
	width: 50%;
	display: inline-block;

	input {
		margin-bottom: 1px !important;
	}
}

.welcome-row {
	margin-bottom: 50px !important;

	div {
		padding: 10px;
	}
}
