#find-or-post {

  .header {
    margin-bottom: 32px;
    text-align: center;
    font-weight: bold;

    &.sub {
      margin-top: -32px;
    }
  }

  .center {
    text-align: center;
  }

  hr {
    margin: 32px 0;
  }

  .btn {
    width: 45%;
    margin-left: 5px;
  }

  .find-wrapper {

    label {
      font-weight: bold;
      margin-bottom: .2rem;
    }

    input {
      border-radius: 10px;
    }

    .input-group {

      .btn {
        width: 70px;
      }
    }

    .divider {
      margin: 16px 0;
      text-align: center;
      font-weight: bold;
    }

    .error-msg {
      position: relative;
      top: 3px;
      color: #dc3545;
      font-size: .9em;
    }

    .geolocation-help {
      font-size: .8em;
      color: rgba(50, 50, 50, 1);
      cursor: pointer;
      transition: color .2s ease;

      &:hover {
        color: rgba(0, 0, 0, 1);
      }
    }
  }
}
