#event-info-window {
  min-width: 450px;
  max-width: 450px;

  .categories {
    font-weight: bold;
  }

  .report {
    font-weight: bold;
  }

  .title {
    font-size: 2em;
    margin: 8px 0;
  }

  blockquote {

    div {
      margin-bottom: 5px;

      span {
        font-weight: bold;
      }
    }
  }

  .report {
    color: red;
    text-decoration: underline;
  }

  button {
    width: calc(100% - 21px);
    margin-top: 16px;
    margin-left: 21px;
  }
}
