.dcs-badge {
      display: inline-block;
      border-radius: 10px;
      padding: 3px 5px;
      min-width: 8px;
      vertical-align: middle;
      margin-left: 5px;
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 11px;
      text-align: center;
      background-color: #bdbdbd;
      /* Reset */
      line-height: 1;
      font-weight: normal;
      white-space: nowrap;
      text-indent: 0;
    }