{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "mocha": true,
    "jest": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react",
    "import"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/prop-types": 0,
    "no-return-assign": 0,
    "no-multi-spaces": ["error", { "exceptions": { "ImportDeclaration": true, "Property": true } }],
    "camelcase": 0,
    "template-curly-spacing" : "off",
    "indent": ["error", 2, {
      "ignoredNodes": ["TemplateLiteral"]
    }]
  },
  "globals": {
    "google": "readonly",
    "NProgress": "readonly",
    "Meteor": "readonly",
    "Package": "readonly",
    "module": "readonly"
  }
}
