{
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
  },
  "plugins": [
    "react",
    "import"
  ],
  "rules": {
    'react/prop-types': 0
  },
  "globals": {
    'google': 1
  }
}
