language: node_js
sudo: required
node_js:
  - '8.11.1'

cache:
  directories:
    - $HOME/.meteor

before_cache:
  - rm -f $HOME/.meteor/log/*.log

before_install:

  # Remove cache if the project is upgraded to a newer version of meteor
  - export PATH="$HOME/.meteor:$PATH"
  - openssl enc -d -aes-256-cbc -md md5 -in deploy.tar.enc -out deploy.tar -k "$encrypted_key_master"
  - tar xvf deploy.tar
  - npm install -g mup
  - curl https://install.meteor.com/?release=1.6.1.1 | /bin/sh

branches:
  only:
<<<<<<< HEAD
    - master
    - fl-sleeper

script:
#- npm test
  - mup deploy

=======
    - new-master
    - street-sleeper


script:
  #- npm test
  - mup deploy
>>>>>>> 056401a3ec67cb2bc12ca3b5d422a92204b48dab
