language: node_js
sudo: required
node_js:
  - '8.11.1'

notifications:
  slack: focallocal:njis5lKnuOTF1dp8W7HiTn8I

before_install:
  - curl -L -o sops.deb "https://github.com/mozilla/sops/releases/download/v3.5.0/sops_3.5.0_amd64.deb"
  - sudo dpkg -i sops.deb
  - echo "$sops_gpg_key" | base64 -d | gpg --batch --import
  - cd deployment/$(./deployment/branch-to-dir.sh "$TRAVIS_BRANCH")
  - for file in *.enc*; do sops --decrypt --output "${file%.enc*}${file##*.enc}" "${file}"; done
  - npm install -g mup
  - curl -k https://install.meteor.com/?release=1.6.1.1 | /bin/sh

branches:
  only:
    - master
    - fl-sleeper
    - master_withoutDCS
    - deploy-btm
    - deploy-phm

script:
  - npm install
  - mup setup
  - mup deploy
