language: node_js  # Note changes in this file are not merged when pushed to other branches and need to be copy pasted manually
sudo: required
dist: focal  # Checked 'trusty, bionic, focal, xenial, focal' 
node_js:
  - '14.21.3'

notifications:
  slack: focallocal:njis5lKnuOTF1dp8W7HiTn8I

before_install:
  - curl -L -o sops.deb "https://github.com/mozilla/sops/releases/download/v3.8.1/sops_3.8.1_amd64.deb"
  - sudo dpkg -i sops.deb
  - mkdir -p ~/.gnupg
  - echo "use-agent" > ~/.gnupg/gpg.conf
  - echo "pinentry-mode loopback" >> ~/.gnupg/gpg.conf
  - echo "allow-loopback-pinentry" > ~/.gnupg/gpg-agent.conf
  - gpg-connect-agent reloadagent /bye || true
  - echo "$sops_gpg_key" | base64 -d | gpg --batch --pinentry-mode loopback --import
  - cd .deployment/$(./.deployment/branch-to-dir.sh "$TRAVIS_BRANCH")
  - for file in *.enc*; do sops --decrypt --output "${file%.enc*}${file##*.enc}" "${file}"; done
  - npm install -g mup
  - curl https://install.meteor.com | /bin/sh

branches:
  only:
    - master
    - deploy-btm
    - deploy-phm

script:
  - npm install
  - mup setup
  - mup deploy
