@import '{}/imports/client/stylesheets/variables.scss';
$titles-color: #fff;

#page {

  /* Page Action Buttons Row */
  .page-action-buttons {
    margin: 15px 0;
    padding: 0 15px;

    .col-6 {
      display: flex;
      align-items: center;

      &.text-right {
        justify-content: flex-end;
      }
    }

    .whos-going-btn {
      background-color: #87CEEB !important; /* Light summer sky blue */
      border-color: #87CEEB !important;
      padding-right: 10px !important; /* Extra 5px space from right */

      .whos-going-link {
        color: white !important;

        .text-title {
          color: white !important;
          font-weight: bold !important;
        }

        .dcs-badge {
          background-color: #FF6600 !important; /* Vibrant orange */
          color: black !important;
          font-weight: bold !important;
          margin-left: 8px !important;
        }
      }
    }
  }

  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vw;
    min-height: 250px;
    margin: 0 0 15px 0;

    .subscribe {
      align-self: flex-end;
      z-index: 100;
      right: 0;
    }
  }

  .body * {
    white-space: pre-wrap;
  }

  .body {
    width: 80%;
    margin: 24px auto;
    font-size: 1.2rem;
    color: #666A73;

    .row {
      width: 100%;
      justify-content: space-between;
      word-wrap: break-word;
    }

    .section-title {
      margin-bottom: 8px;
      font-weight: bolder;
    }

    /* --------------
        Left Column
       -------------- */

    .left {

      .title-wrapper {
        width: 100%;
        color: rgb(50, 52, 56);
        font-weight: bolder;
        word-wrap: break-word;
        overflow: auto;
      }

      .title {
        font-size: 2rem;
        margin: 5px 0 10px;
      }

      .sub-title-categories {
        font-size: 1.4rem;
      }

      .intro,
      .meet-me,
      .description {
        margin: 20px 0;
      }

      .share {

        .share-btn {
          .text-title {
            margin-left: 5px;
            font-weight: normal !important;
            color: rgb(0, 123, 255) !important;
          }
        }
      }

    }

    /* ---------------
        Right Column
       --------------- */
    .right {
      width: 300px;
      max-width: 300px;
      padding-top: 15px;

      .hours-formatted {

        .date {
          margin-bottom: 8px;
        }

        .day {
          display: flex;
          justify-content: space-between;

          &>div:first-child {
            margin-right: 0;
          }
        }
      }

      .location {

        .view-map {
          color: #007bff;
          font-size: .9em;
          cursor: pointer;
        }
      }

      .social {
        .social__subheading {
          font-size: 0.75em;
        }
      }

      .btn {
        width: 100%;
        margin-bottom: 8px;
      }

    }

    /* ------------ End Right Column -------------- */
  }

  .divider {
    height: 1px;
    width: 95%;
    margin: 24px auto;
    background: rgba(0, 0, 0, 0.24);

    &.sections {
      width: 50%;
    }
  }

  .fixed-bg {
    background: $primary-blue !important;

    &.active {
      background: $primary-blue-darker !important;
    }
  }

  .err-msg {
    margin-top: -5px;
    font-size: .6em;
    font-weight: bold;
    text-align: center;
  }

  /* Google Maps IFrame */
  .embedded-map {
    display: block;
    height: 300px;
    width: 100%;
    margin: 32px auto;
  }

  /* Disqus Embedded Comments */
  #disqus_thread {
    overflow: auto;
    max-height: 600px;
    width: 97%;
    margin-top: 16px;
    padding: 1.5%;
  }

  @media screen and (max-width: 860px) {

    & {

      .header .title-wrapper {
        width: 95%;
      }

      .body {
        width: 95%;

        /* --------------
            Right Column
           -------------- */
        .right {
          width: 350px;
          max-width: 350px;
          flex: 0 0 39%;
        }
      }
    }
  }

  @media screen and (max-width: 640px) {
    & {
      .page-action-buttons {
        margin: 15px 0;
        padding: 0;

        .col-6 {
          padding-left: 0;
          padding-right: 0;

          &:last-child {
            padding-left: 5px;
          }

          &:first-child {
            padding-right: 5px;
          }
        }

        .btn {
          width: 100%;
        }
      }

      .body {
        .left,
        .right {
          max-width: 95%;
          flex: 0 0 100%;
          margin-bottom: 24px;
          padding-right: 0;
        }

        .left {
          .title {
            font-size: 1.5rem;
          }
    
          .sub-title-categories {
            font-size: 1em;
          }
        }

        .hours-formatted {
          width: 302px;
        }

        .divider {
          height: 0 !important;
        }
      }

      .embedded-map {
        height: 200px;
        margin: 16px auto 0 auto;
        padding: 0 20px;
      }

      #disqus_thread {
        margin: 16px auto;
        padding: 0 20px;
      }
    }
  }

  @media screen and (max-width: 520px) {

    & {

      .body {
        width: 90%;
      }
    }
  }
}