@import '/imports/client/stylesheets/variables.scss';
$titles-color: #fff;

#page {

  .header {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 25vw;
    min-height: 250px;
    padding: 15px;
    background: #f79d00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #00c362, #f79d00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #00c362, rgba(0, 0, 0, 0.35)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .title-wrapper {
      width: 80%;
      color: #fff;
      font-weight: bolder;
      word-wrap: break-word;
      overflow: auto;
    }

    .title {
      max-height: 156px;
      font-size: 2.2rem;
      overflow: auto;
    }

    .sub-title-categories {
      max-height: 80px;
      font-size: 1.4rem;
      overflow: auto;
    }
  }

  .body {
    width: 80%;
    margin: 24px auto;
    font-size: 1.2rem;
    color: #666A73;

    .row {
      min-width: 100%;
      justify-content: space-between;
    }

    .section-title {
      margin-bottom: 8px;
      font-weight: bolder;
    }

    /* --------------
        Left Column 
       -------------- */

    .left{
      .intro, .meet-me, .description{
        margin: 20px 0;
      }
    }

    /* ---------------
        Right Column
       --------------- */
    .right {
      width: 300px;
      max-width: 300px;

      .hours-formatted {

        .date {
          margin-bottom: 8px;
        }

        .day {
          display: flex;
          justify-content: space-between;

          &>div:first-child {
            margin-right: 0;
          }
        }
      }

      .location {

        .view-map {
          color: #007bff;
          font-size: .9em;
          cursor: pointer;
        }
      }

      .btn {
        width: 100%;
        margin-bottom: 8px;
      }

    }
    /* ------------ End Right Column -------------- */

    // DOCUSS
    .dcs-selected {
      background-color: yellow;
    }    
  }

  .divider {
    height: 1px;
    width: 95%;
    margin: 24px auto;
    background: rgba(0, 0, 0, 0.24);

    &.sections {
      width: 50%;
    }
  }

  .fixed-bg {
    background: $green !important;

    &.active {
      background: $green-darker !important
    }
  }

  .err-msg {
    margin-top: -5px;
    font-size: .6em;
    font-weight: bold;
    text-align: center;
  }

  /* Google Maps IFrame */
  .embedded-map {
    display: block;
    height: 300px;
    width: 100%;
    margin: 32px auto;
  }

  /* Disqus Embedded Comments */
  #disqus_thread {
    overflow: auto;
    max-height: 600px;
    width: 97%;
    margin-top: 16px;
    padding: 1.5%;
  }

  @media screen and (max-width: 860px) {

    & {

      .header .title-wrapper {
        width: 95%;
      }

      .body {
        width: 95%;

        /* --------------
            Right Column
           -------------- */
        .right {
          width: 350px;
          max-width: 350px;
          flex: 0 0 39%;
        }
      }
    }
  }

  @media screen and (max-width: 640px) {

    & {

      .title-wrapper {

        .sub-title-categories {
          font-size: 1.2em;
        }
      }

      .body {


        .left, .right {
          max-width: 95%;
          flex: 0 0 100%;
          margin-bottom: 24px;
        }

        .hours-formatted {
          width: 302px;
        }

        .divider {
          height: 0 !important;
        }
      }

      .embedded-map {
        height: 200px;
        margin: 16px auto 0 auto;
        padding: 0 20px;
      }

      #disqus_thread {
        margin: 16px auto;
        padding: 0 20px;
      }
    }
  }

  @media screen and (max-width: 520px) {

    & {

      .body {
        width: 90%;
      }
    }
  }
}
