<template name="_footer">
  <footer id="footer">
          <div class="container">
            <div class="row">
              <div>
                <h4>About</h4>
                <p>This site is a part of the Focallocal Public Happiness Movement</p>
                <p>Part hosted proudly by webhostinghub.com in support of our mission</p>  
              </div>
              <div>
                <h4>Sitemap</h4>
                <ul>
                  <li><a href="http://brightertomorrowmap.com/">Brighter Tomorrow Map</a></li>
                  <li><a href="http://gather.focallocal.org/events/map">Gather</a></li>
                  <li><a href="http://news.focallocal.org/terms-of-service-and-privacy-policy">Terms of Service and Privacy Policy</a></li>
                  <li><a href="http://action.focallocal.org/">Action Center</a></li>
                  <li><a href="http://news.focallocal.org/">Community News</a></li>
                  <li><a href="http://shop.focallocal.org/">Public Happiness Shop</a></li>
                  <li><a href="http://action.focallocal.org/">Action Center</a></li>
                </ul>
              </div>
              <div>
                <h4>Connect</h4>
                <div class="social-links">
                  <a href="https://www.facebook.com/groups/focallocal" class="social-link facebook">
                    <i class="fa fa-facebook" ></i>
                  </a>
                  <a href="https://www.youtube.com/user/Focallocal/" class="social-link youtube">
                    <i class="fa fa-youtube" ></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-text">
            <div class="container">
                <strong>2017 Focallocal.</strong> There's beauty all around you, remember to take a little break and enjoy it today
            </div>
          </div>
        </footer>
</template>
