<template name="_footer">
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h3 class="white-text">Explore</h3>
          <p class="grey-text text-lighten-4">
              See what's going on in your area
          </p>
        </div>
        <div class="col l4 s12">
          <h3 class="white-text">Organise</h3>
          <p class="grey-text text-lighten-4">
            Create new event and invite people.
          </p>
        </div>
        <div class="col l4 s12">
          <h3 class="white-text">Share</h3>
          <p class="grey-text text-lighten-4">
            Have fun and spread positive energy.
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made with
            <i class="mdi-action-favorite-outline"></i>
            by Focallocal Team
        </div>
    </div>
  </footer>
</template>
