<template name="_header">

    <div id="fb-root"></div> <!--facebook share button-->
<header>
<div id="menu-top">
  <nav>
    <div class="nav-wrapper">
        <a class="brand-logo hide-on-med-and-down left" href="{{pathFor 'home'}}">Focallocal</a>
        <ul class="hide-on-small-and-down left">
            <li class="text-icon">
                <a href="http://focallocal.org/about-us/" title="About">
                    <i class="mdi-action-info"></i>
                    <span>About</span>
                </a>
            </li>
            <li class="text-icon">
                <a href="http://focallocal.org/" title="News">
                    <i class="mdi-social-public"></i>
                    <span>News</span>
                </a>
            </li>
            <li class="text-icon">
                <a href="http://focallocal.org/what-we-do-what-you-can-do/" title="Activities">
                    <i class="mdi-social-mood"></i>
                    <span>Activities</span>
                </a>
            </li>
            <li class="text-icon active">
                <a href="#" title="Events">
                    <i class="mdi-action-event"></i>
                    <span>Events</span>
                </a>
            </li>
        </ul>


        <ul class="right">
          <li class="text-icon {{ isActiveRoute regex='home' }}">
            <a href="{{ pathFor 'home' }}" title="Home">
              <i class="mdi-action-home"></i>
              <span>Home</span>
            </a>
          </li>
          <li class="text-icon {{ isActiveRoute regex='map' }}">
            <a href="{{ pathFor 'map' }}" title="Map">
              <i class="mdi-maps-map"></i>
              <span>Map</span>
            </a>
          </li>
          <li class="text-icon {{ isActiveRoute regex='calendar' }}">
            <a href="{{ pathFor 'calendar' }}" title="Calendar">
              <i class="mdi-action-list"></i>
              <span>Calendar</span>
            </a>
          </li>
          <li class="{{ isActiveRoute regex='signIn|signUp' }}">
              <a class="dropdown-button" href="#!" data-activates="user-dropdown">
                  <i class="mdi-action-account-circle"></i>
              </a>
          </li>
        </ul>
        <ul id="user-dropdown" class="dropdown-content">
          {{#if currentUser}}
            <li><a href="#" data-action="logout">Sign Out</a></li>
          {{else}}
            <li><a href="{{ pathFor 'atSignIn' }}">Log in</a></li>
            <li><a href="{{ pathFor 'atSignUp' }}">Register</a></li>
          {{/if}}
        </ul>

        <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
      </div>
  </nav>

  <ul id="nav-mobile" class="side-nav">
      <li class="bold">
          <a href="http://focallocal.org/about-us/" title="About">
              <i class="mdi-action-info"></i>
              <span>About</span>
          </a>
      </li>
      <li class="bold">
          <a href="http://focallocal.org/" title="News">
              <i class="mdi-social-public"></i>
              <span>News</span>
          </a>
      </li>
      <li class="bold">
          <a href="http://focallocal.org/what-we-do-what-you-can-do/" title="Activities">
              <i class="mdi-social-mood"></i>
              <span>Activities</span>
          </a>
      </li>
      <li class="bold active">
          <a href="#" title="Events">
              <i class="mdi-action-event"></i>
              <span>Events</span>
          </a>
      </li>
  </ul>
</div>
</header>
</template>
