/* Event page styles */
.event-image {
    height: 200px;
}
.event-info label {
  color: #ff5a01;
  font-size: 20px;
  font-weight: bolder;
}

#eventPopup .btn-flat {
  line-height: 0.9rem;
}

a.social-card-edit {
  white-space: normal !important;
}

#go-back-btn {
  white-space: normal !important;
}
