<template name="congratsModal">
    <!-- Modal Structure -->
    <div id="congratsModal" class="modal">
        <div class="modal-content">
            <h4>Congratulations, your event is LIVE!</h4>
            <h5>Share the event</h5>
            {{#with selectedEvent}}
                <p>
                    <a href={{shareOnFacebookLink url}} target="_blank" class="btn btn-facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href={{shareOnTwitterLink url name}} target="_blank" class="btn btn-twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href={{shareOnGooglePlusLink url}} target="_blank" class="btn btn-google-plus">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="https://couchsurfing.com/events" target="_blank" class="btn btn-couchsurfing">
                    </a>
                    <a href="https://eventbrite.com/create" target="_blank" class="btn btn-eventbrite">
                    </a>
                </p>
                We've made it easy for you! <br />
                Simply click the buttons above and copy/paste the info below. <br />
                <blockquote>
                    {{name}}: {{category.name}} with the Focallocal Community <br />
                    Description: {{description}} <br />
                    Date: {{printDate dateEvent}} <br />
                    Address: {{address}} <br />
                    Meeting point: {{meetingPoint}} <br />
                    How to find us: {{findHints}} <br />
                    {{#if url}}
                        Link: <a href="{{url}}" target="_blank">{{url}}</a>
                    {{/if}}<br />
                    Join the movement at www.focallocal.org
                </blockquote>
            {{/with}}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Ok, done!</a>
        </div>
    </div>
</template>