<template name="congratsModal">
    <!-- Modal Structure -->
    <div id="congratsModal" class="modal">
        <div class="modal-content">
            <h4>{{_ "congratsModal.title"}}</h4>
            <h5>{{_ "congratsModal.subtitle"}}</h5>
            <h6>{{_ "congratsModal.subtitle_1"}}</h6>
            {{#with selectedEvent}}
                <p>
                    <a href={{shareOnFacebookLink this}} target="_blank" class="btn btn-facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href={{shareOnTwitterLink this}} target="_blank" class="btn btn-twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href={{shareOnGooglePlusLink this}} target="_blank" class="btn btn-google-plus">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="https://couchsurfing.com/events" target="_blank" class="btn btn-couchsurfing">
                    </a>
                    <a href="https://eventbrite.com/create" target="_blank" class="btn btn-eventbrite">
                    </a>
                </p>
                <strong>{{_ "congratsModal.text.0"}}</strong> <br />
                <a id="copy-button" class="waves-effect waves-orange btn-flat">
                    <i class="mdi-notification-system-update right"></i>
                    Select all
                </a>
                <div id="selectable">
                  <blockquote>
                    {{name}}: {{category.name}} {{_ "congratsModal.text.1"}} <br />
                    {{_ "congratsModal.text.tags.0"}}: {{description}} <br />
                    {{_ "congratsModal.text.2"}}<br/>
                    {{_ "congratsModal.text.tags.1"}}: {{printDate dateEvent}} <br />
                    {{_ "congratsModal.text.tags.2"}}: {{address}} <br />
                    {{_ "congratsModal.text.tags.3"}}: {{meetingPoint}} <br />
                    {{_ "congratsModal.text.tags.4"}}: {{findHints}} <br />
                    {{#if url}}
                        {{_ "congratsModal.text.tags.5"}}: <a href="{{url}}" target="_blank">{{url}}</a>
                    {{/if}}<br />
                  </blockquote>
                </div>
            {{/with}}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat" data-bind="click:panTo">{{_ "congratsModal.btns.0"}}</a>
        </div>
    </div>
</template>
