<template name="sideNavLinks">

	<li>
		<a href="http://news.focallocal.org">
			<i class="material-icons">public</i>
			<div>{{_ "sideNav.content.0"}}</div>
		</a>
	</li>
	<li>
		<a href="http://action.focallocal.org/">
			<i class="material-icons">stars</i>
			<div>{{_ "sideNav.content.1"}}</div>
		</a>
	</li>

	<li>
		<a href="http://gather.focallocal.org/">
			<i class="material-icons">flare</i>
			<div>
				{{_ "sideNav.content.2"}}
			</div>
		</a>
	</li>
	
	<li>
		<a href="http://activities.focallocal.org/">
			<i class="material-icons">directions walk</i>
			<div>
				{{_ "sideNav.content.6"}}
			</div>
		</a>
	</li>

	<li>
		<div class="divider"></div>
	</li>

	<li>
		<a class="subheader">
			{{_ "sideNav.content.3.title"}}
			<i class="material-icons">info</i>
		</a>
	</li>
	<li>
		<a href="http://news.focallocal.org/about-us/" title="About">{{_ "sideNav.content.3.title"}}</a>
	</li>
	<li>
		<a href="http://hire.focallocal.org">{{_ "sideNav.content.3.content.0"}}</a>
	</li>
	<li>
		<a href="http://news.focallocal.org/the-focallocal-community-values/">{{_ "sideNav.content.3.content.1"}}</a>
	</li>
	<li>
		<a href="http://news.focallocal.org/about-andy-and-the-road-to-focallocal/">{{_ "sideNav.content.3.content.2"}}</a>
	</li>
	<li>
		<a href="http://news.focallocal.org/about-andy-and-the-road-to-focallocal/">{{_ "sideNav.content.3.content.3"}}</a>
	</li>
	<li>
		<a href="http://news.focallocal.org/are-we-sure-of-success/">{{_ "sideNav.content.3.content.4"}}</a>
	</li>
	<li>
		<a href="http://news.focallocal.org/category/in-the-news/">{{_ "sideNav.content.3.content.5"}}</a>
	</li>

	<!-- <li>
		<div class="divider"></div>
	</li>
	<li>
		<a class="subheader">{{_ "sideNav.content.4.title"}} <i class="material-icons">shop</i></a>
	</li>

	<li>
		<a href="https://the-positive-action-shop.myshopify.com/">
			<div>{{_ "sideNav.content.4.content.0"}}</div>
		</a>
	</li>
	<li>
		<a href="http://shop.focallocal.org/">
			{{_ "sideNav.content.4.content.1"}}
		</a>
	</li> -->

	<li>
		<div class="divider"></div>
	</li>

	<li>
		<a class="subheader">{{_ "sideNav.content.5.title"}} <i class="material-icons">developer_board</i></a>
	</li>

	<li><a href="http://activities.focallocal.org">{{_ "sideNav.content.5.content.0"}}</a></li>

	<li><a href="http://brightertomorrowmap.com/">{{_ "sideNav.content.5.content.1"}}</a></li>

</template>
