<template name="sideNavLinks">

	<li>
		<a href="http://news.focallocal.org">
			<i class="material-icons">public</i>
			<div>{{_ "leftLinks.text.1"}}</div>
		</a>
	</li>
	<li>
		<a href="http://action.focallocal.org/">
			<i class="material-icons">stars</i>
			<div>{{_ "leftLinks.text.2"}}</div>
		</a>
	</li>

	<li>
		<a href="http://gather.focallocal.org/">
			<i class="material-icons">flare</i>
			<div>
				{{_ "leftLinks.text.3"}}
			</div>
		</a>
	</li>

	<li>
		<div class="divider"></div>
	</li>

	<li>
		<a class="subheader">
			{{_ "leftLinks.text.0"}}
			<i class="material-icons">info</i>
		</a>
	</li>
	<li>
		<a href="http://news.focallocal.org/about-us/" title="About">{{_ "leftLinks.text.0"}}</a>
	</li>
	<li>
		<a href="http://hire.focallocal.org">{{_ "leftLinks.text.5"}}</a>
	</li>
	<li>
		<a href="http://news.focallocal.org/the-focallocal-community-values/">Community Values</a>
	</li>
	<li>
		<a href="http://news.focallocal.org/about-andy-and-the-road-to-focallocal/">F.A.Q</a>
	</li>
	<li>
		<a href="http://news.focallocal.org/about-andy-and-the-road-to-focallocal/">The Road to Focallocal</a>
	</li>
	<li>
		<a href="http://news.focallocal.org/are-we-sure-of-success/">Will We Succeed?</a>
	</li>
	<li>
		<a href="http://news.focallocal.org/category/in-the-news/">Focallocal in the News</a>
	</li>

	<li>
		<div class="divider"></div>
	</li>
	<li>
		<a class="subheader">Shop <i class="material-icons">shop</i></a>
	</li>

	<li>
		<a href="https://the-positive-action-shop.myshopify.com/">
			<div>Positive Action Shop</div>
		</a>
	</li>
	<li>
		<a href="http://shop.focallocal.org/">
			Community Marketplace
		</a>
	</li>

	<li>
		<div class="divider"></div>
	</li>

	<li>
		<a class="subheader">Projects <i class="material-icons">developer_board</i></a>
	</li>

	<li><a href="http://activities.focallocal.org">Positive Action Activities</a></li>

	<li><a href="http://brightertomorrowmap.com/">Brighter Tomorrow Map</a></li>

</template>
