
/* General */
$default-font: 'Montserrat', Arial, sans-serif;

/* Colors */
$black-lighter: rgba(0,0,0,.75);
$gray-lighter:  #eee;
$green:         #00a955;
$green-darker:  #00763b;
$orange:        #f57c00;
$white:         #fff;
$light-yellow:  #fffde7;

/* Components */

// MainMenu
$menu-height: 64px;
$menu-background: $orange;
$menu-color: $white;

// Map
$map-buttons-bg: $orange;
