<template name="joinModal">
	<div id="join-us-modal" class="modal">
		<div class="modal-content center-align">
			<h4 class="center-align">Join Us</h4>
			<div class="row">
				<a class="btn" href="http://discuss.focallocal.org/c/hack-homelessness-and-happiness/meteor-dev-brighter-tomorrows-gathering-map">Developers</a>
			</div>
			<div class="row">
				<a class="btn" href="http://discuss.focallocal.org/c/hack-homelessness-and-happiness">Other Skills</a>
			</div>
			<div class="row">
				<a class="btn" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=DE3YMNZQHF3EG">Donate or Sponsor the Map</a>
			</div>
		</div>
	</div>
</template>
