<template name="event">

    <div class="row">
        <div class="col m2 hide-on-small-only">
            <a id="go-back-btn" class="waves-effect waves-orange btn-flat" href="#">
                <i class="large mdi-navigation-arrow-back"></i>
            </a>
        </div>
        <div class="col s12 m8">
            <div class="card">
                <div class="card-image event-image" style="background-color: {{selectedEvent.category.color}};">
                    <!--<img src="/images/field_web.jpg">-->
                    <span class="card-title">{{selectedEvent.category.name}}</span>
                </div>
                <div class="card-content no-padding">
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" href="#scope1">
                            <i class="mdi-action-info"></i><span
                                class="hide-on-med-and-down">{{_ "event.text.tags.0"}}</span></a></li>
                        <li class="tab col s3"><a href="#scope2"><i class="mdi-image-photo"></i><span
                                class="hide-on-med-and-down">{{_ "event.text.tags.1"}}</span></a></li>
                        <li class="tab col s3"><a href="#scope3"><i class="mdi-av-videocam"></i><span
                                class="hide-on-med-and-down"> {{_ "event.text.tags.2"}}</span></a></li>
                        <li class="tab col s3"><a href="#scope4"><i class="mdi-communication-comment"></i><span
                                class="hide-on-med-and-down"> {{_ "event.text.tags.3"}}</span></a></li>
                    </ul>
                </div>
            </div>

            {{#if selectedEvent.reported.status}}

                <div class="col s12">
                  <span style="color: red">{{_ "event.text.1"}} {{selectedEvent.reported.number}} {{_ "event.text.2"}}</span>
                </div>

            {{/if}}

            <div class="row">
                <div id="scope1" class="col s12">
                    {{> eventAbout selectedEvent}}
                </div>
                <div id="scope2" class="col s12">
                    {{> eventPhotos selectedEvent}}
                </div>
                <div id="scope3" class="col s12">
                    {{> eventVideos selectedEvent}}
                </div>
                <div id="scope4" class="col s12">
                    {{> eventComments selectedEvent}}
                </div>
            </div>

            <div class="row">
              <div class="col s12">
                <strong>{{_ "event.text.0"}}</strong>
              </div>
              <div class="col s12">
                <button class="btn btn-danger" id="report-btn">{{_ "event.btns.0"}}</button>
              </div>
            </div>

        </div>
    </div>

    {{> eventConfirmReport}}

</template>
