.container {
  position: relative;
  width: 980px;
  margin: 0 auto;
  @media screen and (max-width: 980px) {
    width: 100%;
  }
}

.content-section {
  padding: 50px;
  @media screen and (max-width: 980px) {
    padding: 50px 20px;
  }
  iframe {
    border: 0;
  }
  h2 {
    padding: 0 20px;
    @media screen and (max-width: 980px) {
      font-size: 30px;
    }
  }
  button, .btn {
    text-transform: uppercase;
    padding: 12px 30px;
  }
}

h2 {
  position: relative;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  &:before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    @include transform(translate(-50%));
    height: 5px;
    width: 80px;
    background: $brand-primary;
  }
}

p {
  font-size: 18px;
}

.side-text {
  .text-cont {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    padding: 0 20px;
  }
  .row {
    @include flexbox;
    @media screen and (max-width: 980px) {
      @include flex-direction(column);
    }
    > div {
      position: relative;
      width: 50%;
      @media screen and (max-width: 980px) {
        width: 100%;
      }
    }
    @media screen and (max-width: 980px) {
      iframe {
        height: 270px !important;
      }
    }
  }
  &.invert {
    .row {
      > div {
        &:nth-child(1) {
          @include order(1);
        }
        &:nth-child(2) {
          @include order(0);
        }
      }
    }
  }
}
