#welcome-screen {
	color: black;

	.welcome-message-container {
		position: absolute;

		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%);

		padding: 20px;

		width: 99vw;

		p {
			color: #262626;

			font-size: 1.5em;

			margin-top: 30px;
			margin-bottom: 30px;

			text-align: center;
		}

		#tour h3 {
			color: black;
		}

		.expl-map {
			height: 50vh;
		}

		img {
			margin-bottom: 5px;
		}
	}

	#print-tour-btn {
		position: absolute;
		bottom: 73px;
		left: 50px;
	}

	.arrow-container {
		i {
			font-size: 4.4em;
		}
	}

	#legend-tour-arrow {
		position: absolute;

		right: 80px;
		top: 45px;
	}

	#adding-tour-arrow {
		position: absolute;
		right: 80px;
		bottom: 5px;
	}

	.btn-welcome {
		margin: -1px;
		margin-top: 3px;
		font-size: 1.5em;

		padding: 20px;

		height: auto;
	}

	#handout-arrow {
		position: absolute;
		bottom: 63px;
		left: 150px;
	}

	@media only screen and (max-device-width: 635px) {
		h2 {
			font-size: 1.3em;

			margin-top: 20px;
			margin-bottom: 20px;
		}
		p {
			font-size: 0.6em;
		}

		.btn-welcome {
			font-size: 1em;

			padding: 10px;

			height: auto;
		}
	}

	@media only screen and (max-width: 635px) {
		h2 {
			font-size: 1.3em;
		}
		p {
			font-size: 0.6em;
		}

		.btn-welcome {
			font-size: 1em;

			padding: 10px;

			height: auto;
		}
	}

	@media only screen and (max-device-width: 540px) {
		h2 {
			font-size: 1em;

			margin-top: 10px;
			margin-bottom: 10px;
		}
		p {
			font-size: 0.8em !important;
		}

		.btn-welcome {
			font-size: 1em;

			padding: 10px;

			height: auto;
		}

		.welcome-message-container {
			width: 85vw !important;
		}
	}

	@media only screen and (max-width: 540px) {
		h2 {
			font-size: 1em;
		}
		p {
			font-size: 0.8em !important;
		}

		.btn-welcome {
			font-size: 1em;

			padding: 5px;

			height: auto;
		}
		.welcome-message-container {
			width: 85vw !important;
		}
	}
}

.fs-screen-fog {
	height: 100vh;
	width: 100vw;

	position: absolute;

	background-color: rgba(255, 255, 255, 0.8);

	top: 0;
	left: 0;

	z-index: 99;

	display:block;
}

#event-new-btn[disabled="disabled"] {
	background-color: #e65100 !important;
}
