<template name="_header">

  <div id="fb-root"></div>

<header>
  <div id="menu-top">
    <nav>
        <div class="nav-wrapper">
          <a class="brand-logo hide-on-med-and-down left" href="{{pathFor 'home'}}">{{_ "general.text.focallocal"}}</a>

          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

          <ul class="right">
            {{> rightLinks}}
          </ul>

          <ul class="left hide-on-med-and-down">
            {{> leftLinks}}
          </ul>

          <ul class="side-nav" id="mobile-demo">
            {{> leftLinks}}
          </ul>

        </div>
      </nav>
    </div>

</header>

</template>
