<template name="_header">

  <div id="fb-root"></div>

<header>
  <div id="menu-top">
    <nav>
        <div class="nav-wrapper">
          <a class="brand-logo left" href="{{pathFor 'home'}}">{{_ "general.text.focallocal"}}</a>

          <a href="#" data-activates="side-nav-left" class="button-collapse"><i class="material-icons">menu</i></a>

          <ul class="right nav-format">
            {{> rightLinks}}

           <li class="{{ isActiveRoute regex='signIn|signUp' }}">
               <a class="dropdown-button ceter-align user-dropdown" href="#!" data-activates="user-dropdown">
                   <i class="material-icons">account_circle</i>
               </a>
           </li>
         </ul>

         <ul id="user-dropdown" class="dropdown-content">
           {{#if currentUser}}
             <li><a href="#" data-action="logout">{{_ "_header.text.0"}}</a></li>
           {{else}}
             <li><a href="{{ pathFor 'signIn' }}">{{_ "_header.text.1"}}</a></li>
             <li><a href="{{ pathFor 'signUp' }}">{{_ "_header.text.2"}}</a></li>
           {{/if}}
         </ul>

         <ul id="about-dropdown" class="dropdown-content">
           {{> aboutDropDown}}
         </ul>

         <ul id="projects-dropdown" class="dropdown-content">
           {{> projectsDropDown}}
         </ul>

          <ul class="left hide-left-links nav-format">
            <li>
              <a href="http://about.focallocal.org" title="About" class="center-align dropdown-button" data-activates="about-dropdown">
                  <i class="material-icons">info</i>
                  <div>{{_ "leftLinks.content.0"}}</div>
              </a>
            </li>

            <li class="{{liClass}}">
                <a href="http://news.focallocal.org/" title="News" class="center-align">
                    <i class="material-icons">public</i>
                    <div>{{_ "leftLinks.content.1"}}</div>
                </a>
            </li>

            <li class="{{liClass}}">
                <a href="http://action.focallocal.org/" title="Action Center" class="center-align">
                    <i class="material-icons">stars</i>
                    <div>{{_ "leftLinks.content.2"}}</div>
                </a>
            </li>

            <li>
                <a href="http://activities.focallocal.org/" title="Activites" class="center-align">
                  <i class="material-icons">directions_walk</i>
                  <div>
                    {{_ "leftLinks.content.6"}}
                  </div>
                </a>
              </li>

            <li>
              <a href="http://shop.focallocal.org/" title="Shop" class="center-align">
                <i class="material-icons">shop</i>
                <div>
                  {{_ "leftLinks.content.5"}}
                </div>
              </a>
            </li>

            <li class="{{liClass}}">
                <a href="http://focallocal.org/" title="Map" class="center-align">
                    <i class="material-icons">flare</i>
                    <div>{{_ "leftLinks.content.3"}}</div>
                </a>
            </li>

            <li>
              <a href="#!" title="Projects" class="center-align dropdown-button" data-activates="projects-dropdown">
                <i class="material-icons">developer_board</i>
                <div>
                  {{_ "leftLinks.content.4.title"}}
                </div>
              </a>
            </li>

          </ul>

          <ul class="side-nav" id="side-nav-left">
            {{> sideNavLinks}}
          </ul>

        </div>
      </nav>
    </div>

</header>

</template>
