<template name="leftLinks">
    <li class="{{liClass}}">
        <a href="http://news.focallocal.org/about-us/" title="About">
            <i class="mdi-action-info"></i>
            <span>About Us</span>
        </a>
    </li>
    <li class="{{liClass}}">
        <a href="http://news.focallocal.org/" title="News">
            <i class="mdi-social-public"></i>
            <span>Happy News</span>
        </a>
    </li>
    <li class="{{liClass}}">
        <a href="http://news.focallocal.org/activities-list/" title="Activities">
            <i class="mdi-social-mood"></i>
            <span>Activities</span>
        </a>
    </li>
    <li class="{{liClass}} {{joinTeamClass}}">
        <a href="http://news.focallocal.org/focallocal-core-team-applications/" title="Events">
            <i class="mdi-action-event"></i>
            <span>Join The Team</span>
        </a>
    </li>
</template>