<template name="leftLinks">



    <li class="{{liClass}}">
        <a href="http://news.focallocal.org/about-us/" title="About" class="center-align">
            <i class="material-icons">info</i>
            <div>{{_ "leftLinks.text.0"}}</div>
        </a>
    </li>
    <li class="{{liClass}}">
        <a href="http://news.focallocal.org/" title="News" class="center-align">
            <i class="material-icons">public</i>
            <div>{{_ "leftLinks.text.1"}}</div>
        </a>
    </li>
    <li class="{{liClass}}">
        <a href="http://action.focallocal.org/" title="Action Center" class="center-align">
            <i class="material-icons">stars</i>
            <div>{{_ "leftLinks.text.2"}}</div>
        </a>
    </li>
    <li class="{{liClass}}">
        <a href="http://gather.focallocal.org/" title="Map" class="center-align">
            <i class="material-icons">flare</i>
            <div>{{_ "leftLinks.text.3"}}</div>
        </a>
    </li>
    <li class="{{liClass}} {{joinTeamClass}}">
        <a href="http://news.focallocal.org/focallocal-core-team-applications/" title="Events" class="center-align">
            <i class="material-icons">important_devices</i>
            <div>{{_ "leftLinks.text.4"}}</div>
        </a>
    </li>
</template>
