<template name="leftLinks">
    <li class="{{liClass}}">
        <a href="http://news.focallocal.org/about-us/" title="About">
            <i class="mdi-action-info"></i>
            <span>{{_ "leftLinks.text.0"}}</span>
        </a>
    </li>
    <li class="{{liClass}}">
        <a href="http://news.focallocal.org/" title="News">
            <i class="mdi-social-public"></i>
            <span>{{_ "leftLinks.text.1"}}</span>
        </a>
    </li>
    <li class="{{liClass}}">
        <a href="http://action.focallocal.org/" title="Action Center">
            <i class="mdi-action-stars"></i>
            <span>{{_ "leftLinks.text.2"}}</span>
        </a>
    </li>
    <li class="{{liClass}}">
        <a href="http://gather.focallocal.org/" title="Map">
            <i class="mdi-image-flare"></i>
            <span>{{_ "leftLinks.text.3"}}</span>
        </a>
    </li>
    <li class="{{liClass}} {{joinTeamClass}}">
        <a href="http://news.focallocal.org/focallocal-core-team-applications/" title="Events">
            <i class="mdi-action-event"></i>
            <span>{{_ "leftLinks.text.4"}}</span>
        </a>
    </li>
</template>
