@import "materialize/materialize.scss";
@import "eventForm/slidepanel.scss";
@import "eventForm/typeahead.scss";
@import "logo.scss";

@media #{$small-and-down} {
  #congratsModal {
    width: 100%;
    top: 0 !important;
    max-height: 100%;
  }
}

@import "client/stylesheets/eventForm/slidepanel.scss";
@import "client/stylesheets/eventForm/typeahead.scss";
@import "client/stylesheets/materialize/materialize.scss";
@import "client/stylesheets/logo.scss";
