@import "materialize/materialize.scss";
@import "eventForm/slidepanel.scss";
@import "eventForm/typeahead.scss";
@import "eventForm/newGather.scss";
@import "logo.scss";
@import "godmode/godmode.scss";
@import "layout/layout.scss";
@import "welcomeModal/welcomeModal.scss";
@import "home/home.scss";
@import "optionSelect/optionSelect.scss";
@import "infoCollapse/infoCollapse.scss";
@import "tile/tile.scss";

@media #{$small-and-down} {
  #congratsModal {
    width: 100%;
    top: 0 !important;
    max-height: 100%;
  }
}
