@import "materialize/materialize.scss";

@font-face {
  font-family: "Hobo";
  src: url("../font/hobo/hobo.ttf") format("truetype");
  font-weight: 400;
}
//logo font face
.brand-logo {
  font-family: "Hobo", sans-serif;
  position: relative !important;
  margin: 0px 10px 0px 10px;
}
