.at-social-btn {
    margin-bottom: 10px;
}

.promo i {
    color: #F57F17;
    vertical-align: middle;
    font-size: 8rem;
    line-height: 270px;
}

footer a {
    color: #fff !important;
    font-weight: 500;
}
.template-calendar .title {
    font-weight: 500;
}
.template-calendar .circle {
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    top: 6px;
    display: inline-block;
    vertical-align: middle;
}
.template-calendar i.circle {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    background-color: #999;
    text-align: center;
}

/*vertical spacing in event form*/
.slide-panel .row {
    margin-top: 0;
    margin-bottom: 0px;
}

/*typeahead.js*/

.tt-hint {
    color: #999
}

.tt-menu {
    width: 422px;
    margin: 4px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.twitter-typeahead {
    display: block !important;
}