<template name="newEvent">
	<div class="modal" id="eventsFormModal">
		<div class="modal-content">
			<a href="#!" id="newEventFormClose" class="modal-action modal-close waves-effect waves-red btn-flat" data-bind="click:clearForm">x</a>
			<div class="row">
				<h3 class="txt-center" id="eventTitle">{{_ "newEvent.title"}}</h3>
				{{#if Template.subscriptionsReady}}
					{{#autoForm collection="Events" id="events-form-new" type="insert"}}
						<ul class="sequence-form-fields">
							<li class="sequence-field" value="0">
								<div class="col">
									<h5>{{_ "newEvent.section_titles.0"}}</h5>
									<span class="grey-text right-align">{{_ "newEvent.section_titles.sub.0.0"}} <a href="http://news.focallocal.org/activities">news.focallocal.org/activities</a></span>
								</div>
								{{> afQuickField name="organiser._id"}}
								{{> afQuickField name="organiser.name"}}
								<div class="validate-field" id="category-container">
									{{> afQuickField name="category"}}
								</div>
								<a class="btn" href='{{_ "newEvent.links.0"}}'>{{_ "newEvent.btns.3"}}</a>
								<button type="button" class="btn btn-spacer" id="new-resource">{{_ "newEvent.btns.4"}}</button>
							</li>
							<li class="sequence-field" value="1">
								<div class="col">
									<h5>{{_ "newEvent.section_titles.1"}}</h5>
								</div>
								<div class="validate-field">
									{{> afQuickField name="name"}}
								</div>
							</li>
							<li class="sequence-field" value="2">
								<div class="col">
									<h5>{{_ "newEvent.section_titles.2"}}</h5>
								</div>
								<div class="validate-field">
									{{> afQuickField name="address"}}
									{{> afQuickField name="coordinates"}}
								</div>
							</li>
							<li class="sequence-field" value="3">
								<div class="col">
									<h5>{{_ "newEvent.section_titles.3"}}</h5>
								</div>
								<div class="validate-field">
									{{> afQuickField name="meetingPoint"}}
								</div>
							</li>
							<li class="sequence-field" value="4">
								<div class="col">
									<h5>{{_ "newEvent.section_titles.4"}}</h5>
								</div>
								<div class="validate-field">
									{{> afQuickField name="findHints"}}
								</div>
							</li>
							<li class="sequence-field" value="5" id="lifetime-section">
								<div class="col">
									<h5>{{_ "newEvent.section_titles.5"}}</h5>
								</div>
								<div class="validate-field">
									{{> afQuickField name="week_enable"}}
									<div id="one-time-event">
										{{> afQuickField name="dateEvent"}}
										{{> afQuickField name="time"}}
										{{> afQuickField name="time_end"}}
									</div>
									<div id="week-event">
										<div class="row flush-bottom" id="week-tabs">
											<div class="col s12 tabs-fix-overflow">
												<ul class="tabs tabs-fix-width">
													<li class="tab col s3"><a href="#sunday">Sunday</a></li>
													<li class="tab col s3"><a href="#monday">Monday</a></li>
													<li class="tab col s3"><a href="#tuesday">Tuesday</a></li>
													<li class="tab col s3"><a href="#wednesday">Wednesday</a></li>
													<li class="tab col s3"><a href="#thursday">Thursday</a></li>
													<li class="tab col s3"><a href="#friday">Friday</a></li>
													<li class="tab col s3"><a href="#saturday">Saturday</a></li>
												</ul>
											</div>
											<div id="sunday" class="col s12 day-inputs">
												{{> afQuickField name="week.sunday.enable"}}
												{{> afQuickField name="week.sunday.time"}}
												{{> afQuickField name="week.sunday.time_end"}}
											</div>
											<div id="monday" class="col s12 day-inputs">
												{{> afQuickField name="week.monday.enable"}}
												{{> afQuickField name="week.monday.time"}}
												{{> afQuickField name="week.monday.time_end"}}
											</div>
											<div id="tuesday" class="col s12 day-inputs">
												{{> afQuickField name="week.tuesday.enable"}}
												{{> afQuickField name="week.tuesday.time"}}
												{{> afQuickField name="week.tuesday.time_end"}}
											</div>
											<div id="wednesday" class="col s12 day-inputs">
												{{> afQuickField name="week.wednesday.enable"}}
												{{> afQuickField name="week.wednesday.time"}}
												{{> afQuickField name="week.wednesday.time_end"}}
											</div>
											<div id="thursday" class="col s12">
												{{> afQuickField name="week.thursday.enable"}}
												{{> afQuickField name="week.thursday.time"}}
												{{> afQuickField name="week.thursday.time_end"}}
											</div>
											<div id="friday" class="col s12">
												{{> afQuickField name="week.friday.enable"}}
												{{> afQuickField name="week.friday.time"}}
												{{> afQuickField name="week.friday.time_end"}}
											</div>
											<div id="saturday" class="col s12">
												{{> afQuickField name="week.saturday.enable"}}
												{{> afQuickField name="week.saturday.time"}}
												{{> afQuickField name="week.saturday.time_end"}}
											</div>
										</div>
										<div class="row flush-bottom">
											{{> afQuickField name="repetition.enable"}}
											<div id="repeating-event" class="row">
												{{> afQuickField name="repetition.frequency"}}
												<div id="monthly_detail" class="row flush-bottom">
													<span>On the </span>
													{{> afQuickField name="repetition.monthly.day"}}
												</div>
												{{> afQuickField name="repetition.forever_enable"}}
												<div id="lifetime_weeks">
													<span>Repeat for how many weeks?</span>{{> afQuickField name="repetition.lifetime_weeks"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="sequence-field" value="6">
								<div class="col">
									<h5>{{_ "newEvent.section_titles.6"}}</h5>
								</div>
								<div class="validate-field">
									{{> afQuickField name="overview"}}
									{{> afQuickField name="description"}}
								</div>
							</li>
						</ul>
						<div>
							<button type="button" class="btn btn-primary" id="back">{{_ "newEvent.btns.0"}}</button>
								<button type="button" class="btn btn-primary" id="next">{{_ "newEvent.btns.1"}}</button>
								<button type="submit" id="new-event-submit" class="btn btn-primary">{{_ "newEvent.btns.2"}}</button>
						</div>
					{{/autoForm}}
				{{/if}}
				</div>
			</div>
		</div>
</template>
