<template name="afArrayField_sociallinks">
    {{#if afFieldIsInvalid name=atts.name}}
        <span class="red-text">{{{afFieldMessage name=atts.name}}}</span>
    {{/if}}
    {{#afEachArrayItem name=atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
        {{> afQuickField name=this.name label=false options=afOptionsFromSchema}}
        {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
            <button type="button" class="btn autoform-remove-item">
                Remove <span class="mdi-content-clear"></span>
            </button>
        {{/if}}
    {{/afEachArrayItem}}
    {{#if afArrayFieldHasLessThanMaximum name=atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
        <button type="button"
                class="btn autoform-add-item "
                data-autoform-field="{{atts.name}}"
                data-autoform-minCount="{{atts.minCount}}"
                data-autoform-maxCount="{{atts.maxCount}}">
            Add <i class="mdi-content-add"></i>
        </button>
    {{/if}}
</template>