@import '/imports/client/stylesheets/variables.scss';

#map--new-event {
  position: absolute;
  right: 16px;
  bottom: 30px;

  button {
    height: 55px;
    width: 55px;
    background: $map-buttons-bg;
    border-radius: 50%;
  }
}
