<template name="eventPopup">
    {{#if currentUser}}
        {{#if isCurrentUser organiser}}
            <a class="edit-event waves-effect waves-teal btn-flat" onclick="slidePanel.showPanel('eventsEdit');">
                <i class="mdi-editor-mode-edit left"></i>
                Edit event</a><br>
        {{/if}}
    {{/if}}
    {{category.name}} <br>
    <b>
        {{#if url}}
            <a href="{{url}}" target="_blank">{{name}} (click here)</a>
        {{else}}
            {{name}}
        {{/if}}
    </b><br>  {{description}}
    <br>Where:   {{location}}
    <br>Meeting point:   {{meetingPoint}}
    <br>When: <span title="{{printDate dateEvent}}">{{printDateFromNow dateEvent}}</span>
    <br> Organised by: {{organiser}}
</template>
