<template name="eventPopup">
<div id="popup-{{_id}}">
    {{#if currentUser}}
        {{#if isCurrentUser organiser}}
            <a class="edit-event waves-effect waves-amber btn-flat">
                <i class="mdi-editor-mode-edit left"></i>
                Edit</a>
            <a class="remove-event waves-effect waves-amber btn-flat">
                <i class="mdi-action-delete left"></i>
                Remove</a><br>
        {{/if}}
    {{/if}}
    {{category.name}} <br>
    <b>
        {{#if url}}
            <a href="{{url}}" target="_blank">{{name}} (click here)</a>
        {{else}}
            {{name}}
        {{/if}}
    </b><br>  {{description}}
    <br>Where:   {{location}}
    <br>Meeting point:   {{meetingPoint}}
    <br>When: <span title="{{printDate dateEvent}}">{{printDateFromNow dateEvent}}</span>
    <br> Organised by: {{organiser}}
</div>
</template>
