<template name="map">
    <div class="layers-for-map-container">
        <button type="button" class="btn layers-for-map-btn"><i class="mdi-action-list"></i></button>
        <div class="layers-for-map">
            <ul class="layers-for-map-list">
            </ul>
            <button type="button" id="layers-toggle-all" class="btn"><h7>Toggle All</h7></button>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a id="event-new-btn" class="btn-floating btn-large tooltipped waves-effect waves-light " href="#"
           data-position="left" data-delay="50" data-tooltip="Create your Gather now!">
            <i class="large mdi-content-add"></i>
        </a>
        <ul>
            <li><a id="guide-btn" class="btn-floating tooltipped yellow darken-4"
                   data-position="left" data-delay="10" data-tooltip="Guide 4 Success"
                    href="http://focallocal.org/how-to-create-a-positive-social-action-activity" target="_blank">?</a></li>
        </ul>
    </div>
    <img src="/images/cluster_icon_google.png" hidden/>
    <div class="map-container">
        {{#if Template.subscriptionsReady}}
            {{mapData}}
            {{> googleMap name="map" options=mapOptions}}
        {{ else }}
            loading...
        {{/if}}
    </div>
    {{> slidePanel }}
    {{> newEvent }}
    {{> eventConfirmDelete}}
    {{> congratsModal }}
</template>
