<template name="map">
    <div class="layers-for-map-container">
        <button type="button" class="btn layers-for-map-btn"><i class="material-icons">list</i></button>
        <div class="layers-for-map">
            <h4>{{_ "map.text.0"}}</h4>
            <ul class="layers-for-map-list">
            </ul>
            <button type="button" id="layers-toggle-all" class="btn"><h7>{{_ "map.btns.0"}}</h7></button>
        </div>
    </div>

    <input id="search-input" class="controls" type="text" placeholder="Search">

    <div class="fixed-action-btn">
        <a id="event-new-btn" class="btn-floating btn-large tooltipped waves-effect waves-light " href="#"
           data-position="left" data-delay="50" data-tooltip='{{_ "map.text.1"}}'>
           <i class="material-icons">add</i>
        </a>
        <ul>
            <li><a id="guide-btn" class="btn-floating tooltipped yellow darken-4"
                   data-position="left" data-delay="10" data-tooltip="Guide 4 Success"
                    href="http://focallocal.org/how-to-create-a-positive-social-action-activity" target="_blank">?</a></li>
        </ul>
    </div>

    <img src="/images/cluster_icon_google.png" hidden/>
    <div class="map-container">
        {{#if Template.subscriptionsReady}}
            {{mapData}}
            {{> googleMap name="map" options=mapOptions}}
        {{ else }}
            loading...
        {{/if}}
    </div>
    {{> slidePanel }}
    {{> newEvent }}
    {{> eventConfirmDelete}}
    {{> congratsModal }}
    {{> eventConfirmReport id="confirm-report-map"}}
</template>
