<template name="map">

    <div class="fixed-action-btn">
        <a id="event-new-btn" class="btn-floating btn-large tooltipped waves-effect waves-light " href="#"
           data-position="left" data-delay="50" data-tooltip="Create your Gather now!">
            <i class="large mdi-content-add"></i>
        </a>
        <ul>
            <li><a id="guide-btn" class="btn-floating tooltipped yellow darken-4"
                   data-position="left" data-delay="10" data-tooltip="Guide 4 Success"
                    href="http://focallocal.org/how-to-create-a-positive-social-action-activity" target="_blank">?</a></li>
        </ul>
    </div>
    <div id="map-container" class="template-map">

        <div id="map-canvas" class="map"></div>
      {{#if Template.subscriptionsReady}}
      {{else}}
        loading
      {{/if}}

    </div>
    {{> slidePanel }}
    {{> eventConfirmDelete}}
    {{> congratsModal }}
</template>
