.tile {
	display: flex;
	flex-flow: column;
	cursor: pointer;
	position: relative;
	color: white;
	margin: 0px;

	background-color: teal;
}

.tile.square {
	height: 150px;
	width: 150px;
}

.tile-header {
	padding: 10px;

	.tile-title  {
		font-weight: bold;
	}
}

.tile-body {
	padding: 10px;
	padding-left: 20px;
	position: relative;
}

.tile-body.single-icon {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;

	.tile-icon-wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		i {
			font-size: 40px;
		}
	}
}
