@import '/imports/client/stylesheets/variables.scss';

#admin{

  .btn-container{
    padding: 1px;
    display: inline-block;
    margin-right: 8px;

    button{
      margin-right: 2px;
  
    }
  }

  td{
    position: relative;
  }

  .test{
     position:  absolute;
  }

  .form-group {
  display: flex;
    label{
        margin-left: 3px;
        margin-right: 3px;
    }
    .form-check-label{
      input{
          margin-right: 2px;
          position: relative;
          top: 1px;
      }   
    }
   
  }

  .search-container{
    margin: 15px auto;
    width: 350px;
   button{
    margin-left: 5px;
    }
  }
  
}