@import '{}/imports/client/stylesheets/variables.scss';

#admin{

  .btn-container{
    display: inline-block;
    margin-right: 8px;

    button{
      margin-right: 2px; 
    }
  }

  td{
    position: relative;
  }

  .test{
     position:  absolute;
  }

  .form-group {
  display: flex;
    label{
        margin-left: 3px;
        margin-right: 3px;
    }
    .form-check-label{
      input{
          margin-right: 2px;
          position: relative;
          top: 1px;
      }   
    }   
  }

  .search-container{  
    margin-bottom: 20px;
   button{
    margin-left: 5px;
    }
  }

  .admin-controls{
    margin: 15px auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
    @media (min-width: 768px) {
      justify-content: flex-start;
      
      // Force line break after merge button on desktop
      .merge-users-btn {
        margin-right: 100%;
      }
    }
    
    .view-toggle-btn {
      order: 1;
    }
    
    .sync-users-btn {
      order: 2;
    }
    
    .merge-users-btn {
      order: 3;
    }
    
    .search-container {
      order: 4;
      flex: 1;
      min-width: 250px;
      margin-bottom: 0;
      
      @media (min-width: 768px) {
        max-width: 400px;
      }
    }
    
    .sort-users {
      order: 5;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 0;
      margin-bottom: 0;
      
      label {
        margin-bottom: 0;
        white-space: nowrap;
      }
      
      select {
        min-width: 150px;
      }
    }
  }

  .link-btns{
    > * {
      margin-bottom: 5px;
    }
  }

  .deleteBtns{
    position: relative;
    height: $admin-btn-height;
  }

  .goto-dropdown{
    height: $admin-btn-height;
    margin-right: 2px;
  }
  .eventdropdown-btns{
    position: relative;
    padding: 2px;
    height: 50px;
  }
  .eventdropdown-container{
    margin-top: 5px;
    margin-bottom: 2px;
  }
  .userDisplay-container{
    margin: 10px auto 20px;
    
    width: 350px;
  }

}