<template name="header">
  <header id="header" class="alt">
      <h1><a href="http://focallocal.org/inspire-my-city/" target="_blank">Focallocal</a> events</h1>
      <nav id="nav">
          <ul>
              {{#if isInRole 'admin' }}
                  <li><a href="#">Admin link here</a></li>
              {{/if}}
              <li><a href="{{baseUrl}}">Home</a></li>
              <li><a href="{{baseUrl 'calendar'}}">Calendar</a></li>
              <li><a href="http://focallocal.org/inspire-city-day-1-23-cities-joined-us-creating-wave-inspiration-positivity-across-world/"  target="_blank">Guide</a></li>
              <li>{{> loginButtons align="right"}}</li>
          </ul>
      </nav>
  </header>
</template>