<template name="welcomeScreen">
	<div class="fs-screen-fog" id="welcome-screen">

		<div class="more-tour">
			{{> _header}}
		</div>

		<div class="legend-tour">
			<div class="arrow-container" id="legend-tour-arrow"><i class="material-icons">arrow_forward</i></div>
			<div class="layers-for-map-container">
					<button type="button" class="btn layers-for-map-btn"><i class="material-icons">list</i></button>
					<div class="layers-for-map">
							<p>{{_ "map.text.0"}}</p>
							<ul class="layers-for-map-list">
							</ul>
							<button type="button" id="layers-toggle-all" class="btn"><h7>{{_ "map.btns.0"}}</h7></button>
					</div>
			</div>
		</div>

		<div class="add-tour">
			<div class="arrow-container" id="adding-tour-arrow"><i class="material-icons">arrow_forward</i></div>
		</div>

		<div class="handout-tour">
			<div id="print-tour-btn">
	        <div class="row">
						<button type="button" class="btn">Print</button>
					</div>
			</div>
		</div>

		<div class="handout-tour">
			<div class="arrow-container" id="handout-arrow">
				<i class="material-icons">arrow_backward</i>
			</div>
		</div>

		<div class="welcome-message-container center-align" id="welcome-start">

			<div id="tour-start">
				<h2>{{_ "welcomeScreen.text.0.0"}}</h2>
				<p>{{_ "welcomeScreen.text.0.1"}}</p>
				<img src="/images/graph.svg" alt="how the map works" class="expl-map" />
			</div>

			<div class="legend-tour">
				<h2>{{_ "welcomeScreen.text.0.2"}}</h2>
				<p>{{_ "welcomeScreen.text.0.3"}}</p>
			</div>
			<div class="map-tour">
				<h2>{{_ "welcomeScreen.text.0.4"}}</h2>
				<p>{{_ "welcomeScreen.text.0.5"}}</p>
				<img src="/images/cluster_icon_google.png" />
			</div>
			<div class="add-tour">
				<h2>{{_ "welcomeScreen.text.0.6"}}</h2>
				<p>{{_ "welcomeScreen.text.0.7.0"}} {{_ "welcomeScreen.text.0.7.1"}} {{_ "welcomeScreen.text.0.7.2"}}</p>
			</div>
			<div class="handout-tour">
				<h2>{{_ "welcomeScreen.text.0.8"}}</h2>
				<p>{{_ "welcomeScreen.text.0.9"}}</p>
			</div>
			<div class="more-tour">
				<h2>{{_ "welcomeScreen.text.0.10"}}</h2>
				<p><b>{{_ "welcomeScreen.text.0.11"}}</b></p>
				<p><b>{{_ "welcomeScreen.text.0.12"}}</b> {{_ "welcomeScreen.text.0.13"}}</p>
				<p><b>{{_ "welcomeScreen.text.0.14"}}</b> {{_ "welcomeScreen.text.0.15"}}</p>
				<p><b>{{_ "welcomeScreen.text.0.16"}}</b> {{_ "welcomeScreen.text.0.17"}}</p>
				<p><b>{{_ "welcomeScreen.text.0.18"}}</b> {{_ "welcomeScreen.text.0.19"}}</p>
			</div>
			<div id="tour-bts">
				<div>
					<button type="button" class="btn btn-primary btn-welcome" id="post-tour">{{_ "welcomeScreen.btns.0"}}</button>
					<button type="button" class="btn btn-primary btn-welcome" id="legend-tour">{{_ "welcomeScreen.btns.1"}}</button>
					<button type="button" class="btn btn-primary btn-welcome" id="map-tour">{{_ "welcomeScreen.btns.2"}}</button>
					<button type="button" class="btn btn-primary btn-welcome" id="handout-tour">{{_ "welcomeScreen.btns.3"}}</button>
					<button type="button" class="btn btn-primary btn-welcome" id="more-tour">{{_ "welcomeScreen.btns.4"}}</button>
					<br />
					<button type="button" class="btn btn-primary btn-welcome" id="done-tour">{{_ "welcomeScreen.btns.5"}}</button>
				</div>
			</div>

		</div>
	</div>
</template>
