<template name="calendar">
  <div class="template-calendar">

    <h1>Upcoming events</h1>

    <ul class="collection">
      {{#each eventsList}}
        <a href="{{url}}" target="_blank" class="collection-item avatar">
          <i class="mdi-action-done circle red lighten-2"></i>
          <span class="title">{{ name }}</span>
          <span class="secondary-content">{{printDate dateEvent}}</span>
          <p class="truncate">
            {{description}}
            {{location}}
          </p>
        </a>
      {{/each}}
    </ul>

  </div>
</template>
