<template name="calendar">
    <div class="template-calendar container">
        <div class="row">
            <form>
                <div class="input-field col s12 l6">
                    <i class="mdi-action-search prefix"></i>
                    <input type="text" id="search">
                    <label for="search">Search</label>
                </div>
            </form>
        </div>
        {{#if Template.subscriptionsReady}}
        <div class="row">
            <h2>Upcoming gathers</h2>
        </div>
        <div class="row">
            <!-- {{#if upcomingEvents}} -->
                <ul class="collapsible popout">
                {{#each upcomingEvents}}
                    {{> calendarEvent}}
                {{/each}}
                </ul>
            <!-- {{else}} -->
                <div>
                    <h5 class="center-align">
                        No upcoming events :( Please add one!
                    </h5>
                </div>
            <!-- {{/if}} -->
        </div>

        <div class="row">
            <h2>Past gathers</h2>
        </div>
        <div class="row">
            {{#if pastEvents}}
                <ul class="collapsible popout">
                    {{#each pastEvents}}
                        {{> calendarEvent}}
                    {{/each}}
                </ul>
            {{else}}
                <div>
                    <h5 class="center-align">
                        No gathers in the past.
                    </h5>
                </div>
            {{/if}}
        </div>
        {{/if}}
    </div>
</template>
