<template name="calendarEvent">
    <li class="collection-item avatar">
        <i class="mdi-action-grade circle" style="background-color: {{category.color}}"></i>
        <div>
            <span class="title">{{ name }}</span>
            <span class="badge" title="{{printDate dateEvent}}">{{printDateFromNow dateEvent}}, {{location}}</span>
            <p>{{category.name}}<br>
              {{description}}
            </p>
            <a href="{{url}}" target="_blank" class="secondary-content"><i class="mdi-action-open-in-browser small"></i></a>
        </div>
    </li>
</template>