<template name="calendar">
    <div class="template-calendar container">
        <div class="row">
            <form>
                <div class="input-field col s6">
                    <i class="mdi-action-search prefix"></i>
                    <input type="text" id="search">
                    <label for="search">Search</label>
                </div>
            </form>
        </div>
        <div class="row">
            <h2>Upcoming events</h2>
        </div>
        <div class="row">
            {{#if notEmpty upcomingEvents}}
                <ul class="collapsible popout">
                {{#each upcomingEvents}}
                    {{> calendarEvent}}
                {{/each}}
                </ul>
            {{else}}
                <div>
                    <h5 class="center-align">
                        No upcoming events :( Please add one!
                    </h5>
                </div>
            {{/if}}
        </div>

        <div class="row">
            <h2>Past events</h2>
        </div>
        <div class="row">
            {{#if notEmpty pastEvents}}
                <ul class="collapsible popout">
                    {{#each pastEvents}}
                        {{> calendarEvent}}
                    {{/each}}
                </ul>
            {{else}}
                <div>
                    <h5 class="center-align">
                        No events in the past.
                    </h5>
                </div>
            {{/if}}
        </div>
    </div>
</template>
