<template name="calendarEvent">
    <li>
        <div class="collapsible-header">
            <i class="mdi-action-grade circle" style="background-color: {{category.color}}"></i>
            <span class="title">{{ category.name }}</span>
            <span class="badge"
                  title="{{printDate dateEvent}}"> <strong>{{address}}</strong> {{printDateFromNow dateEvent}}</span>
        </div>
        <div class="collapsible-body">
            <p>
                <h5>
                    {{ name }}
                    {{#if url}}
                        <a href="{{url}}" target="_blank" title="Go to the website!">
                            <i class="mdi-action-open-in-browser small"></i>
                        </a>
                    {{/if}}
                </h5>
                {{description}}
            </p>

            <div class="center-align">
                <a class="details-btn waves-effect waves-light btn" data-id="{{_id}}">
                    SHOW MORE <i class="mdi-action-input right"></i>
                </a>
                <span class="badge">Organised by: <strong>{{organiser.name}}</strong></span>
            </div>
        </div>
    </li>
</template>