@import '{}/imports/client/stylesheets/variables.scss';

.buttons {
  display: flex;
  flex-direction: row;
  margin: 10px -1px 0px -1px;

  button {
    margin-right: 5px;
    padding: 5px 10px;
    font-size: .8em;

    &:hover {
      background: $green-darker;
    }

    i {
      position: relative;
      bottom: .5px;
      font-size: .8em;
      margin-right: 2.5px;
    }
  }
  
  .next-btn {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
    
    &:hover {
      background-color: #218838;
      border-color: #1e7e34;
    }
    
    &.active {
      background-color: #1e7e34;
      border-color: #1c7430;
      box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }
  }
  
  .print-btn {
    background-color: #6c757d;
    border-color: #6c757d;
    color: white;
    
    &:hover {
      background-color: #5a6268;
      border-color: #545b62;
    }
  }
}
