@import '{}/imports/client/stylesheets/variables.scss';

.buttons {
  display: flex;
  flex-direction: row;
  margin: 10px -1px 0px -1px;

  button {
    margin-right: 5px;
    padding: 5px 10px;
    font-size: .8em;

    &:hover {
      background: $green-darker;
    }

    i {
      position: relative;
      bottom: .5px;
      font-size: .8em;
      margin-right: 2.5px;
    }
  }
}
