<template name="eventConfirmDelete">
    <div id="confirm-delete" class="modal">
        <div class="modal-content">
            <h4>{{_ "eventConfirmDelete.title"}}</h4>
            <p>{{_ "eventConfirmDelete.subtitle"}}</p>
        </div>
        <div class="modal-footer">
            <a href="#!"  class="yes-btn modal-action modal-close waves-effect waves-amber btn-flat">{{_ "eventConfirmDelete.btns.0"}}</a>
            <a href="#!" class="no-btn modal-action modal-close waves-effect waves-amber btn-flat">{{_ "eventConfirmDelete.btns.1"}}</a>
        </div>
    </div>
</template>
