<template name="eventConfirmDelete">
    <div id="confirm-delete" class="modal">
        <div class="modal-content">
            <h4>Please confirm</h4>
            <p>Are you sure to delete this event?</p>
        </div>
        <div class="modal-footer">
            <a href="#!"  class="yes-btn modal-action modal-close waves-effect waves-amber btn-flat">Yes, delete it!</a>
            <a href="#!" class="no-btn modal-action modal-close waves-effect waves-amber btn-flat">No, take me back!</a>
        </div>
    </div>
</template>