<template name="eventsNew">
    <!--<div class="event-action-button fixed-action-btn">-->
        <!--<a id="event-return-button" class="btn-floating btn-large" href="#">-->
            <!--<i class="large mdi-navigation-arrow-back"></i>-->
        <!--</a>-->
    <!--</div>-->
    <h5>Create a new event!</h5>
    <div class="card-panel">
        {{#if coords}}
            {{> quickForm collection="Events" id="events-new-form" type="insert"}}
        {{else}}
            <h3>Pick a place on the map!</h3>
        {{/if}}
    </div>
</template>