<template name="home">
  <div id="top">
        <div class="container">
          <div class="center-content">
            <img class="logo" src="/images/logo.png" alt="logo" />
            <div class="buttons">
              <a class="waves-effect waves-light btn-large" href="http://action.focallocal.org/">{{_ "home.btns.1"}}</a>
              <a class="waves-effect waves-light btn-large" href="http://focallocal.org/">{{_ "home.btns.2"}}</a>
            </div>
            <h4>{{_ "home.title"}}</h4>
          </div>
        </div>
      </div>
      <section id="about" class="content-section">
           <div class="container">
             <h2>{{_ "home.sections.0.title"}}</h2>
             <div>
               <p>{{_ "home.sections.0.content.0"}}</p>
               <p>{{_ "home.sections.0.content.1"}}</p>
               <p>{{_ "home.sections.0.content.2"}}</p>
             </div>
             <div class="items">
               <div class="item">
                 <div class="icon smiley" ></div>
                 <h4>{{_ "home.sections.0.content.items.smiley"}}</h4>
               </div>
               <div class="item">
                 <div class="icon friends" ></div>
                 <h4>{{_ "home.sections.0.content.items.friends"}}</h4>
               </div>
               <div class="item">
                 <div class="icon share" ></div>
                 <h4>{{_ "home.sections.0.content.items.share"}}</h4>
               </div>
             </div>
                  <p>
                   <span>{{_ "home.sections.0.content.3"}}</span>
                 </p>
           </div>
         </section>
         <section id="adventures" class="content-section side-text">
             <div class="container">
               <h2>{{_ "home.sections.1.title"}}</h2>
               <div class="row">
                 <div>
                   <iframe width="100%" height="315" src="https://www.youtube.com/embed/tG4l514O0t4" frameBorder="0" allowFullScreen ></iframe>
                 </div>
                 <div class="text-cont">
                   <p>{{_ "home.sections.1.content.0"}}</p>
                   <p>{{_ "home.sections.1.content.1"}} </p>
                   <p>{{_ "home.sections.1.content.2"}}</p>
                   <p>{{_ "home.sections.1.content.3"}}</p>
                 </div>
               </div>
             </div>
           </section>
           <section id="mission" class="content-section side-text invert">
                <div class="container">
                  <h2>{{_ "home.sections.2.title"}}</h2>
                  <div class="row">
                    <div>
                      <iframe width="100%" height="315" src="https://www.youtube.com/embed/WUppGn2Z4b4?list=PLzwMXFvS_OYMIrrdyP1ASjmD3uz9NqC9p" frameBorder="0" allowFullScreen ></iframe>
                      <p>{{_ "home.sections.2.content.0"}}</p>
                    </div>
                    <div class="text-cont">
                      <p>{{_ "home.sections.2.content.1"}}<br /><br />
                         {{_ "home.sections.2.content.2"}}<br /><br />
                         {{_ "home.sections.2.content.3"}}<br /><br />
                         {{_ "home.sections.2.content.4"}}<br /><br />
                       </p>
                    </div>
                  </div>
                </div>
              </section>
              <section id="more-links"  class="content-section">
                  <div class="container">
                    <h2>{{_ "home.sections.3.title"}}</h2>
                    <p>{{_ "home.sections.3.content.0"}}</p>
                    <div class="buttons">
                      <div class="item">
                        <a href="https://www.youtube.com/user/Focallocal" class="btn">{{_ "home.sections.3.content.btns.0"}}</a>
                      </div>
                      <div class="item">
                        <a href="https://www.facebook.com/groups/focallocal/" class="btn">{{_ "home.sections.3.content.btns.1"}}</a>
                      </div>
                      <div class="item">
                        <a href="https://the-positive-action-shop.myshopify.com/" class="btn">{{_ "home.sections.3.content.btns.2"}}</a>
                      </div>
                    </div>
                  </div>
                </section>

</template>
