<template name="home">
  <div class="template-home">
      <div class="parallax-container">
          <!--1690 × 1127 pixels-->
          <div class="parallax"><img src="/images/field_web.jpg"></div>
      </div>
      <div class="section white">
          <div class="row container">
              <h2 class="header">Events</h2>
              <p class="grey-text text-darken-3 lighten-3">
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit bibendum nibh eu faucibus. Morbi condimentum enim eu sagittis cursus. Donec hendrerit accumsan maximus. Nunc vitae dapibus orci. Suspendisse molestie pulvinar lobortis. Aenean venenatis viverra cursus. Sed in metus luctus, finibus nisi ac, rutrum massa. Nam pharetra lorem id est congue, sed scelerisque lorem fringilla. Quisque suscipit interdum dictum. Donec ac lectus vitae urna rhoncus sollicitudin id eu felis. Cras vel tortor leo. Duis molestie pellentesque leo et venenatis. Quisque metus nisi, pulvinar sed nisi ac, suscipit dignissim nibh. Morbi sit amet consequat nulla, sit amet rhoncus nisl. In convallis leo sit amet velit pharetra, bibendum tempus leo auctor.
              </p>
              <p>
                  Phasellus malesuada turpis sed placerat tempor. Sed posuere lorem risus, nec volutpat sapien faucibus eget. Donec sit amet lacus condimentum, aliquam sem a, commodo ex. Etiam iaculis velit eu ultrices porttitor. Donec maximus mi vitae volutpat maximus. In commodo porttitor faucibus. Praesent vitae urna eu odio efficitur dignissim. Morbi sit amet aliquet est. Fusce in quam ornare ipsum blandit iaculis. Nulla sed congue turpis, non sollicitudin purus. Nullam gravida mollis ipsum, at dapibus enim fermentum eget. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed diam diam, volutpat in dictum vitae, rutrum et leo. Aliquam vehicula varius pretium. Quisque vehicula pretium ipsum semper lobortis.
              </p>
              </p>
          </div>
      </div>
      <div class="parallax-container">
          <div class="parallax"><img src="/images/activity_web.jpg"></div>
      </div>

  </div>
</template>
