<template name="home">
  <div class="template-home">
      <div class="parallax-container">
          <!--1690 × 1127 pixels-->
          <div class="parallax"><img src="/images/field_web.jpg"></div>
      </div>
      <div class="section white">
          <div class="row container">
              <h2 class="header">Focallocal events</h2>
              <p class="flow-text"> <!-- grey-text text-darken-3 lighten-3 -->
                The only place for true social connection this summer.
              </p>
          </div>
      </div>
      <div class="parallax-container">
          <div class="parallax"><img src="/images/activity_web.jpg"></div>
      </div>

  </div>
</template>
