<template name="home">
  <div id="top">
        <div class="container">
          <div class="center-content">
            <img class="logo" src="/images/logo.png" alt="logo" />
            <div class="mission">
              <button><i class="fa fa-play"></i></button>
              <p>Your mission starts now</p>
            </div>
            <div class="buttons">
              <a class="btn height-fix" href="http://action.focallocal.org/fl-actioncenter/">Build Projects</a>
              <a class="btn" href="http://gather.focallocal.org/events/map">Meet Focallocallers</a>
            </div>
            <h4>Local Action for Global Change</h4>
          </div>
        </div>
      </div>
      <section id="about" class="content-section">
           <div class="container">
             <h2>What is Focallocal?</h2>
             <div>
               <p>
                 Focallocal is an open, welcoming community of thousands of positive people around the world.
               </p>
               <p>
                 Since 2011 we have been coming together and targeting the root causes of any, and all societal issues.
               </p>
               <p>
                 Sharing ideas, and using fun activities to empower people to build a friendlier, happier more connected future for everyone.
               </p>
             </div>
             <div class="items">
               <div class="item">
                 <div class="icon smiley" ></div>
                 <h4>make the world ‘happier’ every day</h4>
               </div>
               <div class="item">
                 <div class="icon friends" ></div>
                 <h4>make ‘positive’ friends all over the world</h4>
               </div>
               <div class="item">
                 <div class="icon share" ></div>
                 <h4>share or learn skills to </h4>
               </div>
             </div>
                  <p>
                   <span>Join us and turn Positive Action into a daily habit to explore your power to change the world, and the happiness it'll bring into your life</span>
                 </p>
           </div>
         </section>
         <section id="adventures" class="content-section side-text">
             <div class="container">
               <h2>What adventures await me?</h2>
               <div class="row">
                 <div>
                   <iframe width="100%" height="315" src="https://www.youtube.com/embed/tG4l514O0t4" frameBorder="0" allowFullScreen ></iframe>
                 </div>
                 <div class="text-cont">
                   <p>
                     You'll be a part of a growing global Movement with a plan to change the world
                   </p>
                   <p>
                     Meeting positive, pro-active, awesome new friends both locally, and globally
                   </p>
                   <p>
                     Together using simple, fun activities and exploring new ideas to shape friendlier, happier communities
                   </p>
                   <p>
                     Bringing peace and well-being to everyone, everywhere
                   </p>
                 </div>
               </div>
             </div>
           </section>
           <section id="mission" class="content-section side-text invert">
                <div class="container">
                  <h2>What is our mission and message?</h2>
                  <div class="row">
                    <div>
                      <iframe width="100%" height="315" src="https://www.youtube.com/embed/WUppGn2Z4b4?list=PLzwMXFvS_OYMIrrdyP1ASjmD3uz9NqC9p" frameBorder="0" allowFullScreen ></iframe>
                    </div>
                    <div class="text-cont">
                      <p>Times are changing, and so can our feeling of powerless at the pain we see every day around us, and on the news<br /><br />Today's technology gives us ALL have the power to solve ALL of the world's problems ourselves, by coming together and using positive and innovative tools to target their roots causes<br /><br />While each action may feel like a tiny ripple. As the Positve Action Movement sweeps around the world these ripples will combine into an unstoppable wave of positive change!<br /><br />Focallocal is about empowering people. The time for waiting for others to fix this planet is over<br /><br />That future is ours, if we all just do a little Positive Action, every day!</p>
                    </div>
                  </div>
                </div>
              </section>
              <section id="more-links"  class="content-section">
                  <div class="container">
                    <h2>Focallocal is all about taking action</h2>
                    <p>Here's more actions to explore</p>
                    <div class="buttons">
                      <div class="item">
                        <a href="https://www.youtube.com/user/Focallocal" class="btn">Watch + Share Videos</a>
                      </div>
                      <div class="item">
                        <a href="https://www.facebook.com/groups/focallocal/" class="btn">Write + Read articles</a>
                      </div>
                      <div class="item">
                        <a href="https://the-positive-action-shop.myshopify.com/" class="btn">Find + Get actions tools</a>
                      </div>
                    </div>
                  </div>
                </section>

</template>
