<template name="home">
  <div id="top">
        <div class="container">
          <div class="center-content">
            <img class="logo" src="/images/logo.png" alt="logo" />
            <div class="buttons">
              <a class="waves-effect waves-light btn-large" href="http://action.focallocal.org/fl-actioncenter/">Micro Volunteering</a>
              <a class="waves-effect waves-light btn-large" href="http://gather.focallocal.org/events/map">Public Action</a>
            </div>
            <h4>Local Action for Global Change</h4>
          </div>
        </div>
      </div>
      <section id="about" class="content-section">
           <div class="container">
             <h2>What is Focallocal?</h2>
             <div>
               <p>
                 Focallocal is an open, welcoming community of thousands of positive people around the world.
               </p>
               <p>
                 Since 2011 we have been coming together and targeting the root causes of any, and all societal issues.
               </p>
               <p>
                 Sharing ideas, and using fun activities to empower people to build a friendlier, happier more connected future for everyone.
               </p>
             </div>
             <div class="items">
               <div class="item">
                 <div class="icon smiley" ></div>
                 <h4>make the world ‘happier’ every day</h4>
               </div>
               <div class="item">
                 <div class="icon friends" ></div>
                 <h4>meet ‘positive’ friends all over the world</h4>
               </div>
               <div class="item">
                 <div class="icon share" ></div>
                 <h4>share + learn skills for your career or building change</h4>
               </div>
             </div>
                  <p>
                   <span>Join us and turn Positive Action into a daily habit to explore your power to change the world, and the happiness it'll bring into your life</span>
                 </p>
           </div>
         </section>
         <section id="adventures" class="content-section side-text">
             <div class="container">
               <h2>What adventures await me?</h2>
               <div class="row">
                 <div>
                   <iframe width="100%" height="315" src="https://www.youtube.com/embed/tG4l514O0t4" frameBorder="0" allowFullScreen ></iframe>
                 </div>
                 <div class="text-cont">
                   <p>
                     You'll be a part of a growing global Movement with a plan to change the world
                   <br /><br />
                     Meeting positive, pro-active, awesome new friends both locally, and globally
                   <br /><br />
                     Together using simple, fun activities and exploring new ideas to shape friendlier, happier communities
                   <br /><br />
                     Bringing peace and well-being to everyone, everywhere
                   </p>
                 </div>
               </div>
             </div>
           </section>
           <section id="mission" class="content-section side-text invert">
                <div class="container">
                  <h2>What is our mission and message?</h2>
                  <div class="row">
                    <div>
                      <iframe width="100%" height="315" src="https://www.youtube.com/embed/WUppGn2Z4b4?list=PLzwMXFvS_OYMIrrdyP1ASjmD3uz9NqC9p" frameBorder="0" allowFullScreen ></iframe>
                      <p>Oh and fun! ..making change should also be fun and easy. That way as many people as possible want to join in!</p>
                    </div>
                    <div class="text-cont">
                      <p>Focallocal is about empowering people<br /><br />
                        The time for waiting for others to fix this planet is over. Modern technology allows us to coordinate action and share great ideas for change in a way never before possible<br /><br />
                        While each action may feel like a tiny ripple. As more and more people join in the effects multiply, combining to form an unstoppable wave, a Positive Action Movement which can sweep across this planet<br /><br />
                        Our message is that YOU have the power to change the world around you, and our mission is to give you the tools to create that positive change<br /><br />
                      </p>
                    </div>
                  </div>
                </div>
              </section>
              <section id="more-links"  class="content-section">
                  <div class="container">
                    <h2>Focallocal is all about taking action</h2>
                    <p>Here's more actions to explore</p>
                    <div class="buttons">
                      <div class="item">
                        <a href="https://www.youtube.com/user/Focallocal" class="btn">Watch + Share Videos</a>
                      </div>
                      <div class="item">
                        <a href="https://www.facebook.com/groups/focallocal/" class="btn">Write + Read articles</a>
                      </div>
                      <div class="item">
                        <a href="https://the-positive-action-shop.myshopify.com/" class="btn">Find + Get actions tools</a>
                      </div>
                    </div>
                  </div>
                </section>

</template>
