<template name="editEvent">
	<div class="card-panel">
		{{#if Template.subscriptionsReady}}
			<h5>{{_ "editEvent.title"}}</h5>
			{{#autoForm collection="Events" doc=selectedEventDoc id="events-form" omitFields='links' type="update"}}
				{{> afQuickField name="organiser._id"}}
				{{> afQuickField name="organiser.name"}}
				{{> afQuickField name="category"}}
				{{> afQuickField name="name"}}
				{{> afQuickField name="address"}}
				{{> afQuickField name="coordinates"}}
				{{> afQuickField name="meetingPoint"}}
				{{> afQuickField name="findHints"}}
				{{> eventLifetime}}
				{{> afQuickField name="overview"}}
				{{> afQuickField name="description"}}
				<div id="edit-limit-container">
					{{> afQuickField name="engagement"}}
				</div>
				<div class="row">
					<div class="col s12">
						<p>
							<input type="checkbox" id="edit-limitless">
							<label for="edit-limitless">No Limit</label>
						</p>
					</div>
				</div>
				<div class="row">
					<button type="submit" class="btn">Update</button>
				</div>
			{{/autoForm}}
			<div class="option-select" id="time-select-edit">
				{{> optionSelect}}
			</div>
		{{/if}}
	</div>
</template>
