<template name="unfinishedFeatureModal">
    <div id="unfinished-feature-modal" class="modal">
        <div class="modal-content">
            <h4>This Feature is in Development</h4>
            <p>
                This feature is being developed by our team of volunteers. You are welcomed to join!
                <br />
                Just contact us at: contact@focallocal.org
                <br />
                Checkout our opensource project at our <a href="https://github.com/focallocal/fl-maps">github</a>
            </p>
        </div>
    </div>
</template>
