<template name="categories">
	<div class="godmode-content">

		<nav class="teal lighten-1">
			<div class="nav-wrapper">
				<a href="/godmode" class="brand-logo center">Admin Dashboard</a>
			</div>
		</nav>

		<div class="row godmode-section teal lighten-2">
			<div class="godmode-title">
				Categories
			</div>
			<div class="godmode-util">
				<button type="button" class="btn white-text btn-flat teal" id="newCategory">New Category</button>
				<button type="button" class="btn btn-flat white-text teal" id="set-default">Set Default</button>
			</div>
		</div>

		<div class="row info-height-limit">
			{{#each categories}}
				{{> categoryInfo}}
			{{/each}}
		</div>

		{{> categoryForm}}
		{{> defaultSelect }}

	</div>
</template>
