<template name="categories">
	<div class="godmode-content">

		<nav class="teal lighten-1">
			<div class="nav-wrapper">
				<a href="/godmode" class="brand-logo center">Admin Dashboard</a>
			</div>
		</nav>

		<div class="row godmode-section teal lighten-2">
			<div class="godmode-title">
				Categories
			</div>
			<div class="godmode-util">
				<button type="button" class="btn white-text btn-flat teal" id="newCategory">New Category</button>
				<button type="button" class="btn btn-flat white-text teal" id="set-default">Set Default</button>
			</div>
		</div>

		<div class="row godmode-content-spacer">
			<!-- <div class="row">
				<button type="button" class="btn teal" id="newCategory">New Category</button>
				<button type="button" class="btn teal" id="set-default">Set Default</button>
			</div> -->
			<ul>
				{{#each categories}}
					{{#if approved}}
						{{#unless default}}
							<li>{{name}} <div class="category-color" style="background-color:{{color}};"></div> <input class="toggle-approval-category" type="checkbox" value="{{name}}" checked/></li>
						{{/unless}}
					{{else}}
						<li><button type="button" class="remove-category">X</button>{{name}} <div class="category-color" style="background-color:{{color}};"></div> <input class="toggle-approval-category" type="checkbox" value="{{name}}"/></li>
					{{/if}}

					{{#if default}}
						<li class="border-highlight">
							<h5>Default</h5>
							{{name}}
							<div class="category-color" style="background-color:{{color}};"></div>
						</li>
					{{/if}}
				{{/each}}
			</ul>
		</div>

		{{> categoryForm}}
		{{> defaultSelect }}

	</div>
</template>
