
.c-item {

  .contributor {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  img {
    border-radius: 50%;
    align-items: center;
  }
  .c-name-text {
    text-align: center;
    font-size: 12px;
  }
  
  @media screen and (max-width: 420px) {
    .contributor{
      width: 50px;
      height: 50px;
    }
  }
}
