@import '{}/imports/client/stylesheets/variables.scss';

#event-info {
  position: absolute;
  top: 0;
  left: 0;
  width: $map-events-list-width;
  height: 100%;
  min-height: calc(100vh - #{$menu-height});
  background: #fff;
  color: $black-lighter;
  overflow: auto;
  transition: transform .25s ease;
  transform: translateX(-#{$map-events-list-width});
  will-change: transform;
  z-index: 3;


  &.active {
    transform: translateX(0);
  }

  &>div {
    padding: 20px;
  }

  header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 14px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    background: #fff;
    width: 100%;
    box-sizing: border-box;

    .back-btn {
      line-height: 1.5;
      font-size: 1.3em;
      flex-shrink: 0;
      cursor: pointer;
      padding: 5px;

      i {
        cursor: pointer;
      }
    }
  }


  .first-section {
    padding-top: 0;
    word-wrap: break-word;

    .top-right-actions {
      float: right;
    }

    .event-info-avatar {
      width: 132px;
      height: 132px;
      object-fit: cover;
      margin-bottom: 2px;

      &.event-info-avatar--placeholder {
        background-color: #87CEEB;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
    }

    .open-close-btn-group {
      display: flex;
      width: 100%;

      .open-btn {
        flex: 4;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .close-btn {
        flex: 1;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 1px solid rgba(0, 0, 0, 0.15);
      }
    }

    .title {
      margin-top: 4px;
      margin-bottom: 8px;
      font-weight: bold;
      font-size: 1.2em;
    }

    .categories {
      margin-bottom: 4px;
      font-size: 1em;
    }

    .distance {
      margin-bottom: 12px;
      font-size: .9em;
    }
  }

  .divider {
    height: 1px;
    margin: 12px 0;
    border-top: 1.5px solid rgba(0, 0, 0, 0.35);
  }

  .second-section {

    .multiple-days {

      .date {
        margin-bottom: 16px;
      }
    }

    .repeat {

      .every-sentence {
        margin-top: -4px;
        margin-bottom: 8px;
      }
    }
  }

  .second-section, .third-section {
    word-wrap: break-word;

    .title {
      margin-bottom: 12px;
      font-weight: bold;
    }
  }

  .report {
    font-weight: bold;
    cursor: pointer;
  }
}
