/* markers */
.leaflet-div-icon {
    border-radius: 50%;
    border: 1px solid black;
    color: white;
}

/* selected marker */
.leaflet-animated-icon {
    border-radius: 50%;
    border: none;
    opacity: .5;
    background: #da0c0b;
    z-index: -1000 !important; /* always display animated icon 'behind' the marker icon */
}

.leaflet-container a {
    color: inherit;
}

.leaflet-container a.leaflet-active {
    outline: none;
}
.leaflet-container {
    font: inherit;
}

.leaflet-popup-content a {
    text-decoration: underline;
}

