.map-container {
  width: 100%;
  height: 100vh;
  padding-right: 15px;
}

/* markers */
.leaflet-div-icon {
    border-radius: 50%;
    border: 1px solid black;
    color: white;
}

/* selected marker */
.leaflet-animated-icon {
    border-radius: 50%;
    border: none;
    opacity: .5;
    background: #da0c0b;
    z-index: -1000 !important; /* always display animated icon 'behind' the marker icon */
}

.leaflet-container a {
    color: inherit;
}

.leaflet-container a.leaflet-active {
    outline: none;
}
.leaflet-container {
    font: inherit;
}

.leaflet-container .details-btn {
    color: #fff;
    margin: auto;
}


/*dont use material design for layer controls*/
[type="checkbox"]:not(:checked).layer-checkbox,
[type="checkbox"]:checked.layer-checkbox {
    /*box-sizing: border-box;*/
    /*padding: 0;*/
    position: inherit;
    left: inherit;
    visibility: inherit;
    opacity: 1;
    margin-right: 5px;
}

.layers-for-map-container {
  position: absolute;
  right: 10px;
  top: 70px;
  z-index: 10;
}

.layers-for-map-btn {
  opacity: .9;
}

.layers-for-map-btn:hover {
  opacity: 1 !important;
}

/*.layer-checkbox:not(:checked), .layer-checkbox:checked {
  position: inherit !important;
  left: auto !important;
}*/

.layers-for-map {
  display: none;
  margin-top: 0px;
  padding: 10px;
  background-color: white;
  box-shadow: 5px 10px 10px #555555;
  font-size: 1.2em;
}

.layers-for-map .layers-header {
  position: relative;
}

.layers-for-map .layers-header #layers-toggle-all {
  position: absolute;
  top: 2.5px;
  right: 0;
}

#search-input {
  background-color: white;
  width: 30%;
  height: 2rem;
  padding: 10px;
  border-bottom: none;
}

#search-input:focus {
  box-shadow: none;
}

.layer-color {
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: 0px 10px 0px 10px;
  border: 13px solid;
}

#floating-btn-container {
   position: absolute;
   bottom: -40px;
   transform: translateY(-50%);
   left: 50px;
   z-index: 2;
}

#events-form {
  overflow-y: scroll;
}

/* For printing the map */
@media print {

  .fixed-action-btn, .layers-for-map-btn, #search-input, header, .layer-checkbox, #layers-toggle-all, #print-btn, #join-us-btn, #footer {
    display: none !important;
  }

  .layer-color {
    border: 5px solid;
  }

  .layers-for-map-container {
    font-size: 10px;
  }

  .layers-for-map h4 {
    font-size: 15px;
  }

}
