@import '/imports/client/stylesheets/variables.scss';

#third-section {
  background: $gray-lighter;
  top: 500px;
  padding: 5%;
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    text-align: justify;
  }
}
