<template name="reported">
	<div class="godmode-content">

		<nav class="teal lighten-1">
			<div class="nav-wrapper">
				<a href="/godmode" class="brand-logo center">Admin Dashboard</a>
			</div>
		</nav>

		<div class="row godmode-section teal lighten-2">
			<div class="godmode-title">
				Reported Events
			</div>
		</div>

		{{#if events}}
			<div class="info-height-limit row">
				{{#each events}}
					{{> eventInfo}}
				{{/each}}
			</div>
		{{else}}
			<div class="godmode-content-spacer">
				No Events have been reported. (Sample bellow)
				<br />
				<br />
				{{> eventInfo sample}}
			</div>
		{{/if}}

	</div>
</template>
