@import '{}/imports/client/stylesheets/variables.scss';

#filters-list {
  position: absolute;
  top: 5px;
  left: 5px;
  // width: 700px;
  // height: calc(100vh - #{$menu-height});
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transform: translate($map-events-list-width, calc(-100vh - #{$menu-height}));
  transition: transform .3s ease;
  will-change: transform;
  z-index: 1;
  overflow-y: auto;

  &.show {
    transform: translate($map-events-list-width, 0);
  }

  .list-group-item {

    &:hover {
      z-index: 0 !important;
    }
  }

  .title {
    height: calc(100% + 20px);
    position: relative;
    text-align: left;
    font-weight: bolder;
    display: flex;

    label {
      position: relative;
      span {
        padding-left: 10px;
      }
    }

    .close {
      position: absolute;
      top: 18px;
      right: 18px;
      font-size: .9em;
    }

    .custom-checkbox {
      position: absolute;
      top: -5px;
      left: 20px;
    }
  }

  .categories-items{
    .list-group-item{
      display: flex;
      align-items: center; //value before flex start
      flex-flow: row nowrap;
      justify-content: space-between;
    
      position: relative;

      div {
        display: inline-block;
      }
    }

    .list-group-item a{
      color: rgb(200, 200, 200);
      position: absolute;
      right: 20px;
      top: 6px;

      font-size: 1.5em;

      &:hover {
        color: $primary-blue-hover;
      };
    }
  }
  //added margin to justify text alignemnt next to checkbox.
  .form-check-label{
    margin-left: 0.5em;
  }
}
