@import '{}/imports/client/stylesheets/variables.scss';

#movement_section {
  padding-top: 2%;
  padding-bottom: 2%;
  // background: $gray-lighter;
  text-align: left;

  .container {
    max-width: 1000px;
    margin: auto;
  }
  .title {
    font-size: 2.3em;
    line-height: 1.2em;
    margin-left: -15px;
    z-index: 1;
    background-color: white;
    padding: 1rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.22rem;
  }
  .item-text {
    font-size: 1.3em;
  }

  // Text Color
  .title,
  .item-title,
  .item-text {
    color: $black-lighter;
  }
  .item {
    margin-bottom: 24px;
  }

  .sign-and-post {
    display: block;
    width: 16em;
    margin-left: auto;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .join {
    display: block;
    width: 12em;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 0.8rem;
    margin: 2em auto;
    text-align: center;
  }

  .images {
    //-webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
    //-moz-transform: scale(0.5); /* FF3.5+ */
    //-ms-transform: scale(0.5); /* IE9 */
    //-o-transform: scale(0.5); /* Opera 10.5+ */
    //transform: scale(0.5);
    /* IE6–IE9 */
    //filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
    float: left;
    margin-right: 1rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 851px) {
    // margin-top: -80vh;
    .title {
      font-size: 2.3em;
      line-height: 1.2em;
      margin-left: -15px;
    }
  }

  @media screen and (max-width: 850px) {
    // margin-top: 1rem;
    .title {
      font-size: 1.8em;
      line-height: 1.4em;
      margin-left: 0;
      text-align: left;
    }

    .item {
      margin-left: 15px;
    }

    .items {
      // flex-flow: column;

      & > div {
        /*flex: 1;
        max-width: 480px;
        margin: 0 1em;*/
        margin-bottom: 24px;
      }
    }
  }
}
