// DOCUSS
#dcs-root {
  height: 100%;
  display: flex;
  flex-direction: row;

  //----------------------------------------------------------------------------

  #dcs-left,
  #dcs-right {
    flex: 1 0 0;
    overflow-y: auto;
    transition: flex-grow 0s; // We use a transition only for the benefit of 'transition-delay'
    scrollbar-width: thin; // this is for FireFox browsers, to fix the white gap between scrollbar and main page
  }
  &:not(.dcs-show-right) #dcs-right {
    flex-grow: 0;
  }
  &.dcs-show-right:not(.dcs-sel) #dcs-left {
    flex-grow: 0;
  }
  @media screen and (max-width: 1035px) {
    &.dcs-show-right #dcs-left {
      flex-grow: 0;
    }
  }
  &.dcs-show-right #dcs-right,
  &.dcs-show-right #dcs-left {
    transition-delay: 200ms;
  }

  #dcs-splitbar {
    flex: 0 0 23px;
    background-color: rgb(0, 111, 81);
    display: flex;
    flex-direction: column;

    #logo {
      flex: 1 0 0;
      padding-top: 5px;
    }

    #dcs-splitbar-btn {
      flex: 2 0 0;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      border-radius: 3px;

      #dcs-splitbar-btn-text {
        color: white;
        font-size: 28px;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        // Putting 1 instead of 0.9 causes a strange bug in Chrome, when hovering the right limit of the text
        transform: scale(0.9, 2.5);
        text-align: center;
      }
    }
  }

  /* Flip the > character to turn it to < */
  &:not(.dcs-show-right) #dcs-splitbar-btn-text {
    transform: scale(-0.9, 2.5) !important;
  }

  //----------------------------------------------------------------------------

  #dcs-ghost {
    position: fixed;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 1000;
    transition: left 200ms linear;
    visibility: hidden;
    .dcs-ghost-splitbar {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 23px;
      background-color: rgb(0, 111, 81);
    }
  }

  &:not(.dcs-show-right) #dcs-ghost {
    left: 100%;
  }

  &.dcs-show-right #dcs-ghost {
    left: 0%;
  }

  @media not screen and (max-width: 1035px) {
    &.dcs-sel:not(.dcs-show-right) #dcs-ghost {
      left: 100%;
    }
    &.dcs-sel.dcs-show-right #dcs-ghost {
      left: 50%;
    }
    &:not(.dcs-sel).dcs-show-right #dcs-ghost {
      left: 0%;
    }
  }

  //----------------------------------------------------------------------------
}

html:not(.touch-screen) {
  #dcs-splitbar-btn:hover {
    background-color: white;
    border: 1px solid lightgray;
    #dcs-splitbar-btn-text {
      color: rgb(0, 111, 81) !important;
    }
  }
}
