#intro {

  .second-section {

    .row {
      flex-flow: row-reverse;
    }
  }
}

@media screen and (max-width: 751px) {
  #intro {

  .second-section {

    .row {
      flex-flow: column;
      flex-wrap: wrap;
    }
  }
}
}
