
#intro {

  .second-section {

    .row {
      flex-flow: row-reverse;
    }
    
    .attachment-content {

      iframe {
        height: 85%;
        width: 100%;
      }

      p {
        font-size: .9em;
        font-style: italic;
      }
    }
  }
}

@media screen and (max-width: 751px) {
  #intro {

  .second-section {

    .row {
      flex-flow: column;
      flex-wrap: wrap;
    }
  }
}
}
