#intro {

  .second-section {
    background: #FFF9EB;

    .row {
      flex-flow: row-reverse;
    }
    
    .attachment-content {
      iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
        min-height: auto;
      }

      p {
        font-size: .9em;
        font-style: italic;
      }
    }

    .text-content {
      text-align: left;
      
      p {
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 751px) {
  #intro {

  .second-section {

    .row {
      flex-flow: column;
      flex-wrap: wrap;
    }
  }
}
}
