@import '{}/imports/client/stylesheets/variables.scss';

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 9999999999;

  .ball-beat > div {
    // background-color: rgba(50, 50, 50, .5);
  }

  &.pages {
    height: calc(100vh - #{$menu-height});
    position: static;
  }

}

.loader.button {
  position: relative;
  top: 3px;

  .ball-beat > div {
    height: 10px;
    width: 10px;
  }
}
