
#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 9999999999;

  .ball-beat > div {
    // background-color: rgba(50, 50, 50, .5);
  }
}
