$modal-height: calc(100vh - 64px);

#new-event-modal {

  .modal-content {
    min-height: $modal-height;
    max-height: $modal-height;
    min-width: 320px;

    .modal-body {
      overflow-y: auto;
      overflow-x: none;

      .reset {
        position: relative;
        top: -12px;
        font-size: .8em;
        cursor: pointer;
      }
    }
  }

  .inline-checkboxes {

    &>div {
      display: inline-block;
      margin-right: 8px;
    }
  }

  .small-letters-color-transition {
    margin-left: 2px;
  }

  /* -----------------------------
             Second Step
     ----------------------------- */

  #second-step {

    .inline-inputs {
      display: flex;
      align-items: center;


      &>div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
      }

      .date-field {
        width: 115px;
        margin-right: 5px;
      }

      .select-field {
        width: 98px;
      }

      .between {
        margin: 0 8px;
      }

      &.hide-labels {
        margin-bottom: 8px;

        .form-group {
          margin-bottom: 0;
        }

        label {
          display: none;
        }
      }
    }

    .reset-dates {
      margin-top: -5px;
      margin-bottom: 8px;
    }

    .week-days {

      .day {
        display: flex;
        flex-direction: row;
        margin-bottom: 16px;

        &>.checkbox {
          position: relative;
          top: 6px;
          width: 62.5px;
          margin-right: 8px;
        }

        .hours {

          .select-field {
            display: inline-block;
            width: 100px;
            margin-bottom: 0;

            label {
              display: none;
            }
          }

          &>span {
            margin: 0 16px;
          }
        }
      }

      .error-message {
        margin: 8px 0;
      }
    }

    @media (max-width: 519px) {
      & {

        .dates-hours {
          flex-flow: column;
          align-items: baseline;
        }
      }
    }
  }


  .checkbox {
    margin-bottom: 8px;
  }

  input[name="engagement.limit"] {
    width: 200px;
  }

  .select-field {
    width: 100%;

    &.error {

      &>div>div {
        border-color: #dc3545;
        box-shadow: none;
      }
    }

    .input-icon {
      width: 100%;

      input {
        height: 38px;
        width: 100%;
        padding-right: calc(.75rem + 24px);
      }

      .fas {
        top: 10px;
      }
    }

    #suggestions {
      position: relative;
      top: 2px;
    }

    &>div>div {
      background: #fff;
    }
  }

  .modal-footer {
    justify-content: space-between;
    flex-direction: row-reverse;

    button:only-child {
      position: relative;
      right: 4px;
    }
  }

  @media (max-width: 992px) {
    .modal-content {
      height: auto;
    }
  }

  @media (min-width: 576px) {
    max-width: 600px;
  }
}
