#new-event-modal {

  .modal-content {
    min-width: 300px;

    .modal-body {
      max-height: 455px;
      overflow-y: auto;
      overflow-x: hidden;

      .reset {
        position: absolute;
        right: 1em;
        top: 0.75em;
        // bootstrap3 btn-xs
        padding: 1px 5px;
        font-size: 0.8em;
        line-height: 1.5;
        border-radius: 3px;
      }
    }

    .modal-body > form{
      padding-top: 1.25rem;
      padding-bottom: 1.55rem;
    }

    .alert.error-general {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .inline-checkboxes {

    &>div {
      display: inline-block;
      margin-right: 8px;
    }
  }

  .small-letters-color-transition {
    margin-left: 2px;
  }

  /* -----------------------------
             First Step
     ----------------------------- */

  #first-step {
    .hidden {
      display:none;
    }

    .address-sub-label {
      font-size: 0.88em;
    }

    .inline-inputs {
      display: flex;
      align-items: center;


      &>div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
      }

      .date-field {
        width: 115px;
        margin-right: 5px;
      }

      .select-field {
        width: 98px;
      }

      .between {
        margin: 0 8px;
      }

      &.hide-labels {
        margin-bottom: 8px;

        .form-group {
          margin-bottom: 0;
        }

        label {
          display: none;
        }
      }
    }

    .reset-dates {
      margin-top: -5px;
      margin-bottom: 8px;
    }

    .week-days {

      .day {
        display: flex;
        flex-direction: row;
        margin-bottom: 16px;

        &>.checkbox {
          position: relative;
          top: 6px;
          width: 62.5px;
          margin-right: 8px;
        }

        .hours {

          .select-field {
            display: inline-block;
            width: 100px;
            margin-bottom: 0;

            label {
              display: none;
            }
          }

          &>span {
            margin: 0 16px;
          }
        }
      }

      .error-message {
        margin: 8px 0;
      }
    }
    #radios {
      margin-bottom: 8px;
    }
    @media (max-width: 519px) {
      & {

        .dates-hours {
          flex-flow: column;
          align-items: baseline;
        }
      }
    }
  }


  /* -----------------------------
             Second Step
     ----------------------------- */

  #second-step  {

    @media (max-width: 575px) {
      .large-only {
        display: none;
      }
      .conditional-time {
        &::before {
          width: 45%;
          content: ""
        }
        .select-field::before {
          width: 45%;
        }
      }
      .date-hours-box {
        flex-direction: column;
        .date-field, .select-field {
          width: 45%;
        }
        .time-display {
          min-width: 60px;
        }
      }
    }
    .date-hours-coupled {
      .date-hours-single {
        display: flex;
      }
      .date-field {
        label {display: none}
      }
      .select-field {
        padding-left: 0.5em;
        .time-box {
          display: flex;
          width: 115px;
          .time-display {
            border: 1px solid rgb(206, 212, 218);
            border-left: none;
            border-right: none;
            height: 100%;
            padding: 6px;
            margin: 0px;
            width: 75px;
            text-align: center;
          }
          .time-btn {
            border: 1px solid rgb(206, 212, 218);
          }
        }
      }
    }
  }

  .checkbox {
    margin-bottom: 8px;
  }

  input[name="engagement.limit"] {
    width: 200px;
  }

  .select-field {
    width: 100%;

    &.error {

      &>div>div {
        border-color: #dc3545;
        box-shadow: none;
      }
    }

    .input-icon {
      width: 100%;

      input {
        height: 38px;
        width: 100%;
        padding-right: calc(.75rem + 24px);
      }

      .fas {
        top: 10px;
      }
    }

    #suggestions {
      position: relative;
      top: 2px;
    }

    &>div>div {
      background: #fff;
    }
  }

  .modal-footer {
    justify-content: space-between;
    flex-direction: row-reverse;

    button:only-child {
      position: relative;
      right: 4px;
    }
  }

  @media (min-width: 576px) {
    max-width: 556px;
  }
}
.pageDetails {
    margin-top: 15px;
}

.videoToggle {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;

  label {
    white-space: pre-line;
  }
}

.videoButtons {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding: 0px 0px;

    button {
      margin: 0px 5px;
      font-size: small;
    }

    button[disabled] {
      background-color: white!important;
      text-decoration: line-through!important;
    }
}