@import '/imports/client/stylesheets/variables.scss';

@media screen and (max-width: 750px) {

  #map-container {

    #minimize {
      position: fixed;
      top: calc(100vh - 30px - (55vh - #{$menu-height}));
      left: 0px;
      height: 30px;
      width: 76.2px;
      font-size: .7em;
      background-color: $gray-lighter;
      color: $black-lighter;
      transform: rotateZ(0deg);
      transition: top .2s ease;
    }

    &.minimized {

      #events-list {
        transform: translateY(calc(55vh - #{$menu-height}));
      }

      #map {
        height: 100%!important;
      }

      button#minimize {
        top: calc(100vh - 30px);
        left: 0px;
      }
    }

    #map {
      height: calc(55vh - #{$menu-height});
      width: 100% !important;
      transition: height .2s ease;
    }

    #events-list {
      position: absolute;
      top: auto;
      bottom: 0;
      height: calc(55vh - #{$menu-height});
      width: 100%;
      transform: translateX(0);
    }

    #filters-list {
      width: 100%;
      transform: translateY(-100vh);
      z-index: 3;

      &.show {
        transform: translateY(0);
      }
    }

    #event-info {
      top: 0;
      width: 100%;
      transform: translate(0, 0)!important;

      &:not(.active) {
        transform: translateX(-#{$map-events-list-width})!important;
      }
    }
  }
}
