@import '{}/imports/client/stylesheets/variables.scss';

/**
 * Browser Compatibility Notes:
 * - Firefox: Uses absolute positioning for #map-container in iframes
 * - Safari/iOS: Uses -webkit-fill-available for proper viewport height
 * - All browsers: overflow:hidden prevents scroll issues in iframe contexts
 */

body.overflow {
  overflow: hidden;
}

#map-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  
  /* Firefox iframe fix - use absolute positioning */
  @supports (-moz-appearance: none) {
    position: absolute;
    min-height: 100vh;
    height: 100%;
  }
  
  /* Safari/iOS viewport height fix */
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
  
  /* Prevent scrolling issues in all browsers */
  overflow: hidden;

  &.offset-standalone-menu {
    top: $menu-height;
    height: calc(100vh - #{$menu-height})!important;
  }

  &.minimized {

    #events-list, #event-info {
      transform: translateX(-#{$map-events-list-width});
    }

    #map {
      width: 100%;
    }

    button#minimize {
      left: -25px;
    }
  }

  #map {
    height: 100%;
    width: calc(100% - #{$map-events-list-width});
    float: right;
    transition: width .2s ease;
  }

  

  #map-error {
    position: absolute;
    right: 0;
    width: calc(100% - #{$map-events-list-width});
    text-align: center;
  }
}

.gather-button {
  position: absolute;
  z-index: 3;
  right: 10px;
  top: 10px;
}