@import '/imports/client/stylesheets/variables.scss';

body.overflow {
  overflow: hidden;  
}

#map-container {
  position: relative;
  height: calc(100vh - #{$menu-height});

  #map {
    height: 100%;
  }
}
