.txt-center {
	text-align: center !important;
}

#eventsFormModal {
	width: 30%;
	min-width: 350px;
	max-height: 85%;
}

#newEventFormClose {
	position: absolute;
	left: 0px;
	top: 10px;
}

#events-form-new {
	.picker--opened {
		.picker__holder {
			height: 200vh !important;
		}
	}
}

#events-form {
	.picker__frame {
		overflow: scroll;
	}
}

// [type="checkbox"]:not(:checked).input-fix-enable,
// [type="checkbox"]:checked.input-fix-enable {
// 	/*box-sizing: border-box;*/
// 	/*padding: 0;*/
// 	position: inherit;
// 	left: inherit;
// 	visibility: inherit;
// 	opacity: 1;
// 	margin-left: 5px;
// }

.day-enable {
	display: inline-block !important;
}

.tab > a {
	font-size: 0.8em !important;
}

.flush-bottom {
	margin-bottom: 0px !important;
}

.exp-sub {
	font-size: 14px;
}

.border-highlight {
	border: 2px black solid;
	padding: 5px;
	width: 300px;
}
