.txt-center {
	text-align: center !important;
}

#eventsFormModal {
	width: 30%;
	min-width: 350px;
}

#newEventFormClose {
	position: absolute;
	left: 0px;
	top: 10px;
}

.tabs-fix-overflow {
	overflow: scroll;
}
