@import "../materialize/materialize.scss";

html, body {
  overflow-x: hidden;
}
.slide-panel {
  @extend .z-depth-3;
  display: none;
  position: absolute;
  top: $navbar-height;//0;
  right: 0;
  -webkit-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  min-height: 100%;
  width: 100%;
  max-width: 420px;
  padding: 15px;
  z-index: 6000;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  overflow: hidden;
  -webkit-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -ms-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
  will-change: transform;
}
.slide-panel.show-panel {
  display: block;
}
.slide-panel.slide-in {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.slide-panel .close-panel {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 32px;
  padding: 5px 15px;
  cursor: pointer;
}
.slide-panel-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 5999;
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}
.slide-panel-overlay.slide-in {
  display: block;
}
