// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$gray: #999;
$gray-lighter: #f1f1f6;
$gray-light: #b3b3b3;
$gray-darker: #3a3f4f;
$black: #000;
$white: #fff;
$light-blue: #71bbff;
$blue: #138fff;
$pale-blue: rgb(212, 229, 248);
$red: rgb(248, 72, 81);
$yellow: rgb(208, 201, 23);
$green: rgb(70, 208, 95);

$brand-primary: #f57c00;
$brand-secondary: rgba(96, 101, 165, 0.91);

$base-font-sans-serif: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Proxima Nova', 'Helvetica Neue', 'Georgia', sans-serif;

$font-family-text: $base-font-sans-serif;
$font-family-header: $base-font-sans-serif;
$font-family-accent: $base-font-serif;

$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

$screen-md:                  1024px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

$screen-lg:                  1250px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

$base-text-color: $gray-darker !default;
$base-background-color: $gray-lighter !default;
$font-size-base: 20px !default;
$text-align:center !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;
$base-font-weight: 300 !default;
$base-box-shadow: 0 0 3px rgba(0, 0, 0, .1);

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 1400px;

$gutter-width: 10px;

$base-link-color: $brand-primary;

$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $blue !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 30px !default;
$h2-font-size: 27px !default;
$h3-font-size: 24px !default;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: inherit !default;
$headings-color: inherit !default;

$animation-speed: 0.3s;

$inverse-color: $white;
$base-brand-color: $blue;
