<template name="aboutDropDown">
	<li>
		<a href="http://news.focallocal.org/about-us/">About Us</a>
	</li>
	<li>
		<a href="http://news.focallocal.org/the-focallocal-community-values/">Hire Us</a>
	</li>
	<li>
		<a href="http://news.focallocal.org/the-focallocal-community-values/">Community Values</a>
	</li>
	<li>
		<a href="http://news.focallocal.org/faqs">F.A.Q</a>
	</li>
	<li>
		<a href="http://news.focallocal.org/about-andy-and-the-road-to-focallocal/">The Road to Focallocal</a>
	</li>
	<li>
		<a href="http://news.focallocal.org/are-we-sure-of-success/">Will we Succeed?</a>
	</li>
	<li>
		<a href="http://news.focallocal.org/category/in-the-news/">Focallocal in the news</a>
	</li>
</template>
