<template name="eventPopup">
<div id="eventPopup">
    {{#if currentUser}}
        {{#if isCurrentUser organiser}}
        <div class="right-align">
            <a class="promo-btn  btn-flat">
                <i class="mdi-social-share"></i>
            </a>
            <a class="edit-btn  btn-flat">
                <i class="mdi-editor-mode-edit"></i>
            </a>
            <a class="remove-btn btn-flat" data-target="confirm-delete">
                <i class="mdi-action-delete"></i>
            </a>
        </div>
        {{/if}}
    {{/if}}
    {{#if reported.status}}
      <div>
        <span style="color: red">{{_ "event.text.1"}} {{reported.number}} {{_ "event.text.2"}}</span>
      </div>
    {{/if}}
    <span style="color: {{category.color}}">{{category.name}}</span>
    <h5>{{name}}</h5>
    <blockquote>
        {{#if overview}}
            <span style="white-space: pre-wrap; word-wrap: break-word">{{overview}}</span>
        {{else}}
            <span style="white-space: pre-wrap; word-wrap: break-word">No overview provided</span>
        {{/if}}
        <br>Where:   {{address}}
        <br>Meeting point:   {{meetingPoint}}
        <br>When: <span title="{{printDate dateEvent}}">{{printDateFromNow dateEvent}}</span>
        <br> Organised by: {{organiser.name}}
        <br>
        {{#if url}}
            <a href="{{url}}" target="_blank">{{url}}</a>
        {{/if}}
    </blockquote>

    <div class="row">
        <div class="col s12">
            <a href="#" style="color: red; text-decoration: underline;" id="report-btn">Report</a>
        </div>
    </div>

    <div class="center-align">
        {{> showMoreButton}}
    </div>
</div>

{{> eventConfirmReport}}

</template>
