<template name="eventPopup">
<div id="eventPopup">
    {{#if currentUser}}
        {{#if isCurrentUser organiser}}
            <span>
            <a class="edit-btn waves-effect waves-amber btn-flat">
                <i class="mdi-editor-mode-edit left"></i>
                Edit</a>
            <a class="remove-btn waves-effect waves-amber btn-flat" data-target="confirm-delete">
                <i class="mdi-action-delete left"></i>
                Remove</a>
            </span><br>

        {{/if}}
    {{/if}}
    {{category.name}} <br>
    <b>
        {{#if url}}
            <a href="{{url}}" target="_blank">{{name}} (click here)</a>
        {{else}}
            {{name}}
        {{/if}}
    </b><br>  {{description}}
    <br>Where:   {{location}}
    <br>Meeting point:   {{meetingPoint}}
    <br>When: <span title="{{printDate dateEvent}}">{{printDateFromNow dateEvent}}</span>
    <br> Organised by: {{organiser.name}}
</div>
</template>
