#intro {

  .first-section {

    .attachment-content {

      iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
        min-height: auto;
      }

      p {
        font-size: .9em;
        font-style: italic;
      }

      p.quote {
        font-size: .9em;
        font-style: italic;
        margin-top: 10px;
      }
    }
  }
}
