

#intro {

  .first-section {

    .attachment-content {

      iframe {
        height: 85%;
        width: 100%;
      }

      p {
        font-size: .9em;
        font-style: italic;
      }
    }
  }
}
