.godmode-card-title {
	h4 {
		margin-bottom: 0px;
	}
}

.godmode-card-content > .row {
	margin-top: 2px;
}

.godmode-content {
	background-color: white;
	padding: 0px;
	margin: 0px !important;
	width: 100vw;
	height: 100vh;
}

.godmode-content > .row {
	margin-top: 0px;
}

.godmode-section-title {
	margin: 5px 0px 2px 20px !important;
}

#enable-admin-form, #remove-admin-form {
	input {
		border-color: white;
		box-shadow: none;
		color: white;
		font-size: 1.3em;
	}

	label {
		color: white;
		font-size: 1.3em;
	}
}

#remove-admin-btn, #enable-admin-btn {
	margin-bottom: 5px;
	color: white;
	font-size: 1.3em;
}

.godmode-card {
	padding: 20px;
}

[type="checkbox"]:not(:checked).toggle-approval-category,
[type="checkbox"]:checked.toggle-approval-category {
	/*box-sizing: border-box;*/
	/*padding: 0;*/
	position: inherit;
	left: inherit;
	visibility: inherit;
	opacity: 1;
	margin-right: 5px;
}

.remove-category {
	margin: 5px;
	background-color: transparent;
	border: none;
}

.remove-category:focus {
	background-color: transparent;
}

.category-color {
	height: 10px;
	width: 10px;
	display: inline-block;
	margin: 0px 10px 0px 10px;
}
