.godmode-card-title {
	h4 {
		margin-bottom: 0px;
	}
}

.godmode-card-content > .row {
	margin-top: 2px;
}

.godmode-card-footer {
	padding: 10px;
	bottom: 0px;
	position: absolute;
}

.godmode-content {
	background-color: white;
	padding: 0px;
	margin: 0px !important;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	min-width: 100vw;
}

.godmode-content > .row {
	margin-top: 0px;
}

.godmode-content-spacer {
	margin: 5px 0px 2px 20px !important;
}

.godmode-bottom-margin {
	margin-bottom: 30px;
}

.godmode-section {
	color: white;
	padding: 5px;

	display: flex;
	flex-direction: row;

	.godmode-title {
		font-size: 1em;
		margin-top: auto;
		margin-bottom: auto;
	}

	.godmode-util {
		margin-left: auto;
	}

}

#enable-admin-form, #remove-admin-form {
	input {
		border-color: white;
		box-shadow: none;
		color: white;
		font-size: 1.3em;
	}

	label {
		color: white;
		font-size: 1.3em;
	}
}

#remove-admin-btn, #enable-admin-btn {
	margin-bottom: 5px;
	color: white;
	font-size: 1.3em;
}

.godmode-card {
	padding: 20px;
	height: 230px;
	position: relative;
}

[type="checkbox"]:not(:checked).toggle-approval-category,
[type="checkbox"]:checked.toggle-approval-category {
	/*box-sizing: border-box;*/
	/*padding: 0;*/
	position: inherit;
	left: inherit;
	visibility: inherit;
	opacity: 1;
	margin-right: 5px;
}

.remove-category {
	margin: 5px;
	background-color: transparent;
	border: none;
}

.remove-category:focus {
	background-color: transparent;
}

.category-color {
	height: 20px;
	width: 20px;
	display: inline-block;
	margin: 0px 10px 0px 10px;
}

/* Reported Events */
.info-body {
	.event-info-more-btn {
		position: absolute;
		display: block;
		bottom: 15px;
		right: 20px;
		color: white;
		padding: 10px;
		font-size: 17px;
	}
}

.info-body-active.category-info-body {
	height: 70px;

	.info-body-wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.btn-group {
		display: flex;
		justify-content: center;

		button {
			margin: 0px 10px 0px 10px;
		}
	}
}

.info-height-limit {
	max-height: 75vh;
	overflow-y: scroll;
}
