@import '/imports/client/stylesheets/variables.scss';

#first-section {

  margin-bottom: 25%;

  &>.container {
    position: relative;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .row {
      width: 95%;
    }
  }

  .logo {
    height: 450px;
    max-width: 300px;
  }

  @media screen and (max-width: 540px) {
    height: 300px;
    max-width:250px
  }
}
