@import '/imports/client/stylesheets/variables.scss';

#first-section {
  min-height: calc(92vh - #{$menu-height});
  display: flex;
  margin-top: 0;

  @media screen and (max-width: 570px) {
    margin-top: 30px;
  }
}
