<template name="dashboardLanding">
	<div class="godmode-content">

		<nav class="teal lighten-2 godmode-bottom-margin">
			<div class="nav-wrapper">
				<a href="/godmode" class="brand-logo center">Admin Dashboard</a>
			</div>
		</nav>

		<div class="godmode-content-spacer">
			<div class="godmode-tile-wrap">
				<a class="tile square green lighten-1" href="/godmode/manage">
					<div class="tile-header">
						<div class="tile-title">
							Admin Management
						</div>
					</div>
					<div class="tile-body single-icon">
						<div class="tile-icon-wrap">
							<i class="material-icons">assignment</i>
						</div>
					</div>
				</a>
			</div>
			<div class="godmode-tile-wrap">
				<a class="tile square blue lighten-1" href="/godmode/categories">
					<div class="tile-header">
						<div class="tile-title">
							Category Management
						</div>
					</div>
					<div class="tile-body single-icon">
						<div class="tile-icon-wrap">
							<i class="material-icons">edit</i>
						</div>
					</div>
				</a>
			</div>
			<div class="godmode-tile-wrap">
				<a class="tile square red lighten-1" href="/godmode/reported">
					<div class="tile-header">
						<div class="tile-title">
							Reported Events
						</div>
					</div>
					<div class="tile-body single-icon">
						<div class="tile-icon-wrap">
							<i class="material-icons">warning</i>
						</div>
					</div>
				</a>
			</div>
			<div class="godmode-tile-wrap">
				<a class="tile square orange lighten-1" href="/godmode/users">
					<div class="tile-header">
						<div class="tile-title">
							Users*
						</div>
					</div>
					<div class="tile-body single-icon">
						<div class="tile-icon-wrap">
							<i class="material-icons">verified_user</i>
						</div>
					</div>
				</a>
			</div>
			<div class="godmode-tile-wrap">
				<a class="tile square green lighten-1" href="/godmode/notifications">
					<div class="tile-header">
						<div class="tile-title">
							Notifications*
						</div>
					</div>
					<div class="tile-body single-icon">
						<div class="tile-icon-wrap">
							<i class="material-icons">notifications</i>
						</div>
					</div>
				</a>
			</div>
		</div>


	</div>
</template>
