<template name="dashboardLanding">
	<div class="godmode-content">

		<nav class="teal lighten-2 godmode-bottom-margin">
			<div class="nav-wrapper">
				<a href="/godmode" class="brand-logo center">Admin Dashboard</a>
			</div>
		</nav>

		<div class="row">

			<div class="col s12 l6">
				<div class="card godmode-card green lighten-1">
					<div class="card-title godmode-card-title">
						<h4 class="center white-text">Admin Management</h4>
					</div>
					<div class="card-content godmode-card-content">
						<p class="white-text">
							Add or remove admins and moderators.
						</p>
						<p class="white-text">
							Manage permissions*.
						</p>
					</div>
					<div class="godmode-card-footer">
						<a href="/godmode/manage" class="right green darken-1 btn-flat btn white-text">&gt;</a>
					</div>
				</div>
			</div>

			<div class="col s12 l6">
				<div class="card godmode-card blue lighten-1">
					<div class="card-title godmode-card-title">
						<h4 class="center white-text">Category Management</h4>
					</div>
					<div class="card-content godmode-card-content">
						<p class="white-text">
							Add or remove categories.
						</p>
						<p class="white-text">
							Enable or disable categories.
						</p>
						<p class="white-text">
							Set a default.
						</p>
					</div>
					<div class="godmode-card-footer">
						<a href="/godmode/categories" class="right blue darken-1 btn-flat btn white-text">&gt;</a>
					</div>
				</div>
			</div>

		</div>

		<div class="row">

			<div class="col s12 l6">
				<div class="card godmode-card red lighten-1">
					<div class="card-title godmode-card-title">
						<h4 class="center white-text">Reported Events</h4>
					</div>
					<div class="card-content godmode-card-content">
						<p class="white-text">
							Review events reported by users.
						</p>
						<p class="white-text">
							Remove reported events*.
						</p>
					</div>
					<div class="godmode-card-footer">
						<a href="/godmode/reported" class="right red darken-1 btn-flat btn white-text">&gt;</a>
					</div>
				</div>
			</div>

			<div class="col s12 l6">
				<div class="card godmode-card brown lighten-1 lighten-1">
					<div class="card-title godmode-card-title">
						<h4 class="center white-text">Users*</h4>
					</div>
					<div class="card-content godmode-card-content">
						<p class="white-text">
							Ban or unban users.
						</p>
						<p class="white-text">
							Review users.
						</p>
					</div>
					<div class="godmode-card-footer">
						<a href="/godmode/users" class="right brown darken-1 btn-flat btn white-text">&gt;</a>
					</div>
				</div>
			</div>

		</div>

		<div class="row">

			<div class="col s12 l6">
				<div class="card godmode-card grey darken-1">
					<div class="card-title godmode-card-title">
						<h4 class="center white-text">Notifications*</h4>
					</div>
					<div class="card-content godmode-card-content">
						<p class="white-text">
							General Notifications.
						</p>
					</div>
					<div class="godmode-card-footer">
						<a href="/godmode/notifications" class="right grey darken-2 darken-1 btn-flat btn white-text">&gt;</a>
					</div>
				</div>
			</div>

		</div>

	</div>
</template>
