<template name="godmode">
	{{#if isInRole 'admin'}}
		<div class="godmode-content">

			<nav class="teal lighten-2">
				<div class="nav-wrapper">
					<a href="#" class="brand-logo center">Admin Dashboard</a>
				</div>
			</nav>

			<div class="row godmode-section-title">
				<h4>Manage Admins</h4>
			</div>

			<div class="row">
				<div class="col s6">
					<div class="card godmode-card green lighten-1">
						<div class="card-title godmode-card-title">
							<h4 class="center">Enable Admin</h4>
						</div>
						<div class="card-content godmode-card-content">
							<div id="enable-admin-form" method="post">
								<label for="email">User Email</label>
								<input class="input-field" type="text" name="email"/>
								<a href="#" id="enable-admin-btn" class="right">Enable &gt;</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col s6">
					<div class="card godmode-card red lighten-1">
						<div class="card-title godmode-card-title">
							<h4 class="center">Disable Admin</h4>
						</div>
						<div class="card-content godmode-card-content">
							<div id="remove-admin-form">
								<label for="email">User Email</label>
								<input class="input-field" type="text" name="email"/>
								<a href="#" id="remove-admin-btn" class="right">Disable &gt;</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row godmode-section-title">
				<h5>Admins</h5>
				<ul>
					{{#each admins}}
						<li>{{profile.name}}</li>
					{{/each}}
				</ul>
			</div>

			<div class="row godmode-section-title">
				<h4>Categories</h4>
				<ul>
					{{#each categories}}
						{{#if approved}}
							<li>{{name}} <input class="toggle-approval-category" type="checkbox" value="{{name}}" checked/></li>
						{{else}}
							<li>{{name}} <input class="toggle-approval-category" type="checkbox" value="{{name}}"/></li>
						{{/if}}
					{{/each}}
				</ul>
			</div>

		</div>
	{{else}}
		<h1>Restricted Area</h1>
	{{/if}}
</template>
