<template name="manage">
	<div class="godmode-content">

		<nav class="teal lighten-1">
			<div class="nav-wrapper">
				<a href="/godmode" class="brand-logo center">Admin Dashboard</a>
			</div>
		</nav>

		<div class="row godmode-section teal lighten-2">
			<div class="godmode-title">
				Permission Management
			</div>
			<div class="godmode-util">
				<button type="button" class="btn btn-flat white-text teal" id="enable-admin-btn">Enable</button>
				<button type="button" class="btn btn-flat red-text white" id="remove-admin-btn">Disable</button>
			</div>
		</div>

		<div class="row godmode-content-spacer">
			<div class="godmode-input-container">
				<input type="text" placeholder="Victim's Email" id="target-email"/>
			</div>
			<ul>
				{{#each admins}}
					<li>{{> userInfo}}</li>
				{{/each}}
			</ul>
		</div>
	</div>
</template>
