   div.mt-5.container { 
            display: block !important;
            width: 65% !important;
            font-size: 1.1rem !important;
            color: rgba(0, 0, 0, 1) !important;

                      }

@media screen and (max-width: 800px) {
    div.mt-5.container { 
            width: 90% !important;
                      }
}
