   div.mt-5.container { 
            display: block !important;
            width: 60% !important;
            font-size: 1.1rem !important;
                      }

@media screen and (max-width: 800px) {
    div.mt-5.container { 
            width: 90% !important;
                      }
}

.chapterHeading {
    margin: auto;
    text-align: center;

}