
main {

  section {
    margin: 40px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .title {
    margin-bottom: 26px;
    font-size: 2.2em;
    font-weight: 500;
  }

  @media screen and (max-width: 480px) {

    & {

      .title {
        font-size: 1.8em;
      }
    }
  }

  @media screen and (max-width: 400px) {

    & {

      .title {
        font-size: 1.6em;
      }
    }
  }
}
