
main {

  section {
    margin: 40px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .container { // Override bootstrap container defaults
    display: flex;
    padding-right: 0;
    padding-left: 0;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: none;
    width: 92.5%;
  }

  .title {
    margin-bottom: 26px;
    font-size: 2.2em;
    font-weight: 500;
  }

  @media screen and (max-width: 480px) {

    & {

      .title {
        font-size: 1.8em;
      }
    }
  }

  @media screen and (max-width: 400px) {

    & {

      .title {
        font-size: 1.6em;
      }
    }
  }
}
