

main {
  position: relative;

  .gather-button {
    position: absolute;
    z-index: 99;
    left: 5px;
    top: 5px;
  }

  &.home {
    // background: #FFF9EB;
  }

  section {
    margin: 40px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .title {
    margin-bottom: 26px;
    font-size: 2.2em;
    font-weight: bold;
  }
}

#hero-bg {
  height: 28vw;
  min-height: 250px;
  max-height: 365px;
  width: 100%;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  transition: height .8s ease-in;
}


@media screen and (max-width: 900px) {

  #hero-bg {
    height: 30vw;
  }
}

@media screen and (max-width: 720px) {

  section {
    padding: 8px !important;
  }
}

@media screen and (max-width: 460px) {

  #hero-bg {
    display: none;
  }
}
