
#recurring {

  .inline-fields {
    margin-bottom: 8px;

    &>div {
      display: inline-block;
      margin-left: 5px;
      margin-bottom: 0;
      width: 140px;

      &:first-child {
        width: 75px;
      }

      label {
        display: none;
      }
    }

    &>span {
      margin: 0 4px;
    }
  }

  .error-message {
    margin-bottom: 8px;
  }

  .DayPicker {
    margin-top: 8px;

    .DayPicker-Month {
      margin: 0;

      .DayPicker-Caption {
        display: none;
      }
    }
  }
}
