
#recurring {

  .inline-fields {

    &>div {
      display: inline-block;
      margin-left: 5px;
      margin-bottom: 0;
      width: 140px;

      &:first-child {
        width: 75px;

        input[type~="number"] {
          position: relative;
          top: 14px;
        }
      }

      label {
        display: none;
      }
    }

    &>span {
      margin: 0 4px;
    }
  }

  .DayPicker-Month {
    margin-left: 0;
    margin-right: 0;

    .DayPicker-Caption {
      display: none;
    }
  }
}
