@import '/imports/client/stylesheets/variables.scss';

#events-list {
  position: absolute;
  top: 0;
  left: 0;
  width: $map-events-list-width;
  height: calc(100vh - #{$menu-height});
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: auto;
  transition: transform .25s ease;
  z-index: 2;

  &.minimized {
    transform: translateX(-#{$map-events-list-width});
  }

  .header {
    position: relative;
    padding: 12px;

    #google-maps-searchbox {
      position: relative;
      right: 2px;
      height: 48px;
    }
  }

  .va-center {
    position: relative;
    right: 5px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 140px);
    justify-content: center;
    align-items: center;
  }

  .no-near-events {
    color: rgba(0, 0, 0, .5);
  }
}
