.template-calendar .details-btn {
    margin-left: 10px;
    margin-bottom: 10px;
}

.added-gather-filter {
  display: inline-block;
  margin: 5px;
  padding: 2px 5px 2px 5px;
  vertical-align: middle;
  color: white;
}

.remove-gather-filter {
  background: none;
  border: none;
}

.collapsible-header {
  position: relative;
}

.collapsible-body {
  position: relative;
}

#search {
  text-align: center;
  font-size: 1.5em;
  color: white;
  background-color: #e65100;

  line-height: 1.5em;

  padding: 10px;

  border-bottom: none;

  font-weight: bold;
}

.search-container {
  margin-top: 50px;
  margin-bottom: -50px !important;
}

#search-label {
  font-size: 1.5em;
  color: white;
  margin-left: 10px;
}

#gather-filter-btn {
  height: 3em;
}
