<template name="categoryForm">
	<div class="modal" id="categoryFormModal">
		<div class="modal-content">
			<a href="#!" id="newCategoryFormClose" class="modal-action modal-close waves-effect waves-red btn-flat" data-bind="click:clearForm">x</a>
			<div class="row">
				<h3 class="txt-center">{{_ "categoryForm.text.0"}}</h3>
				{{#if Template.subscriptionsReady}}
					{{> quickForm collection="Categories" id="new-category-form" type="insert"}}
				{{/if}}
			</div>
		</div>
	</div>
</template>
