
.videoContainer {
  height: 100%;
  padding-top: 56.25%;
  overflow: hidden;

  .videoPlayer {
    position: absolute;
    top: 0;
    left: 0;
  }

  #ytSubscribeBtn {
    position: absolute;
    z-index: 100;
    left: 10px;
    bottom: 10px;
  }

}

.subscribeOverlay {
  pointer-events: none;
  position: absolute;
  z-index: 100;
  left: 10px;
  bottom: 10px;
  width: 85px;
  height: 24px;
  font-size: 11px;
  font-weight: bold;
  z-index: 101;
  background-color: rgb(172, 6, 6);
  color: white;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-top: 1px;
  line-height: 24px;
  text-align: center;

  .subscribe {
    pointer-events: auto;
  }
}