@import "../materialize/materialize.scss";

.nav-format {
	line-height: 0px;

	li {

		a.user-dropdown {
			i {
				height: $navbar-height !important;
				line-height: $navbar-height !important;
			}
		}

		i {
			height: 3*$navbar-height/4 !important;
			line-height: 3*$navbar-height/4 !important;

			@media #{$small-and-down} {
				height: 3*$navbar-height-mobile/4 !important;
				line-height: 3*$navbar-height/4 !important;
			}
		}

		div {
			height: $navbar-height/4;
			line-height: 0px;

			@media #{$small-and-down} {
				height: $navbar-height-mobile/4;
			}
		}
	}
}

.dropdown-content {
	top: 65px !important;
	width: auto !important;
}

.hide-left-links {
	@media only screen and (max-width: 1065px) {
		display: none !important;
	}
}

.brand-logo {
	@media only screen and (max-width: 1065px) {
		display: none !important;
	}
}

a.button-collapse {
	@media only screen and (max-width: 1065px) {
		display: block !important;
	}
}

nav {
	@media only screen and (max-width: 600px) {
		height: $navbar-height !important;
	}
}
